<div class="parallax netinfra section-header" bg-parallax data-img="assets/img/bg/net-infra.svg" style="background-image: url('assets/img/bg/net-infra.svg');">
    <div class="page-title">
        <div class="row text-center">
            <h2>IT INFRASTRUCTURE</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row section-2">
        <div class="middle">
            <div class="row" style="padding-top:2em;padding-bottom: 2em;">
                <div class="col-lg-12 text-center">
                    <p class="hardware-lead">From aligning your IT with your business needs to an end-to-end strategy for transforming your enterprise,
                        <br>MSS has the professional experience and expertise that you need.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart hover">
                        <div class="box-chart-img">
                            <img src="assets/img/services/sec-sys.svg" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Security System</h3>
                        <p class="lead">Make sure your business is running securely with security system support. Including Surveillance System, Access Control, and Visitor Management</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart hover">
                        <div class="box-chart-img">
                            <img src="assets/img/services/phone-set.svg" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Telephony System</h3>
                        <p class="lead">Communication is the most important part in business world to grab the market goal. For this reason, we provide enterprise grade both analog and IP-based telephony system.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart hover">
                        <div class="box-chart-img">
                            <img src="assets/img/services/net-sys.svg" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Network System</h3>
                        <p class="lead">Get advantages of a computer network in your office that can enhance productivity and cut unnecessary costs, by using connectivity and sharing of files</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax row-stretch" style="background-image: url(assets/img/bg/bg-siluet-2.svg); height: 300px">
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">WANT TO TALK ABOUT YOUR PROJECT?</h3>
                    <p class="lead text-default">Start achieving your goal today by working with our top dev teams,
                        <br/>experienced in your market and tech stack.</p>
                    <br>
                    <a href="" class="btn btn-lg btn-default btn-custom text-default btn-quotation" ng-click="openForm()"><strong>LET'S DISCUSS</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/microsoft.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/mikrotik.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/cisco.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/ibm.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/ubiquiti.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/bosch.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/samsung.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/hp.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/aruba.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/panasonic.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/fortinet.svg" style="max-height: 60px;">
               <img class="vendor-logo img-responsive" src="assets/img/vendor/polycom.svg" style="max-height: 60px;">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.hardware-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
