<div class="parallax netinfra section-header" bg-parallax data-img="assets/img/bg/net-infra.svg" style="background-image: url('assets/img/bg/net-infra.svg');">
    <div class="page-title">
        <div class="row text-center">
            <h1>IT INFRASTRUCTURE</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding-inline">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading text-black">IT infrastructure for your business need</h3>
            <p class="lead">From aligning your IT with your business needs to an end-to-end strategy for transforming your enterprise,
                <br>MSS has the professional experience and expertise that you need.
            </p>
        </div>
    </div>
    <div class="row" masonry>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="security">
                <div class="box-chart-img">
                    <img src="assets/img/services/sec-sys.svg" width="150px">
                </div>
                <div class="box-chart-content">
                    <br>
                    <h4><strong>Security System</strong></h4>
                    <br>
                    <p class="lead">Make sure your business is running securely with security system support. Including Surveillance System, Access Control, and Visitor Management</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="telephone">
                <div class="box-chart-img">
                    <img src="assets/img/services/phone-set.svg" width="150px">
                </div>
                <div class="box-chart-content">
                    <br>
                    <h4><strong>Telephone System</strong></h4>
                    <br>
                    <p class="lead">Communication is the most important part in business world to grab the market goal. For this reason, we provide enterprise grade both analog and IP-based telephony system.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="network">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-sys.svg" width="150px">
                </div>
                <div class="box-chart-content">
                    <br>
                    <h4><strong>Network System</strong></h4>
                    <br>
                    <p class="lead">Get advantages of a computer network in your office that can enhance productivity and cut unnecessary costs, by using connectivity and sharing of files</p>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h3 class="featurette-heading text-black"><strong>How it works</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="assets/img/services/sol-suv-market.svg" width="200" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black" align="justify">Planning and designing is the first stage of the process. We will collect all information related to your company’s needs. Based on the information we have, we will make plans and design for network systems, and list the hardware needed to be used in building the system.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="assets/img/services/sol-suv-result.svg" width="200" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black" align="justify">After the plan and design is approved, we will immediately conduct the procurement process in accordance with the budget included in the initial planning. We can ensure that the procurement process of the devices can work well according to the plan that we have previously made.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img src="assets/img/services/sol-suv-convert.svg" width="200" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black" align="justify">The installation process starts from cable withdrawal, and then hardware installation and configuration. After the system is configured, we perform system test to check whether the system is running and functioning properly in accordance with the previously designed network topology.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax row-stretch" style="background-image: url(assets/img/bg/bg-siluet-2.svg); height: 300px">
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">WANT TO TALK ABOUT YOUR PROJECT?</h3>
                    <p class="lead text-default">Start achieving your goal today by working with our professional technical teams,
                        <br/>experienced in your market and tech stack.</p>
                    <br>
                    <a href="" class="btn btn-lg btn-default btn-custom text-default btn-quotation" ng-click="openForm()"><strong>LET'S DISCUSS</strong></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/microsoft.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/mikrotik.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/cisco.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/ibm.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/ubiquiti.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/bosch.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/samsung.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/hp.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/aruba.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/panasonic.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/fortinet.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/polycom.svg" style="max-height: 5em;max-width:80px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="IT Infrastructures Services by PT Menara Sinar Semesta" socialshare-hashtags="Infrastructure, network, internet, telephone-system" socialshare-url="http://mss.co.id/#/it-infrastructure" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="IT Infrastructures Services by PT Menara Sinar Semesta" socialshare-hashtags="Infrastructure, network, internet, telephone-system, cctv, security-system" socialshare-url="http://mss.co.id/#/it-infrastructure" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
</div>
