<div class="parallax netinfra section-header" bg-parallax data-img="assets/img/bg/net-infra.svg" style="background-image: url('assets/img/bg/net-infra.svg'); background-color: #9cc4e1;">
    <div class="page-title">
        <div class="row text-center">
            <h2>IT INFRASTRUCTURE</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row section-2" style="padding-top: 100px;padding-bottom: 100px;">
        <div class="middle">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead">From aligning your IT with your business needs to an end-to-end strategy for transforming your enterprise,
                        <br>MSS has the professional experience and expertise that you need.
                    </p>
                    <br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart">
                        <div class="box-chart-img">
                            <img src="assets/img/electronic_lock-512.png" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Security System</h3>
                        <p class="lead">Make sure your business running securely with security system support including surveillance system, Access Control, and Visitor Management</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart">
                        <div class="box-chart-img">
                            <img src="assets/img/telephone-systems-ICON.png" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Telephone System</h3>
                        <p class="lead">Communicate is the most important over this world to grab the market. For this reason we have solution telephone system both analog and IP system.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="box-chart">
                        <div class="box-chart-img">
                            <img src="assets/img/systemintegration_icon-300x300.png" width="150px">
                        </div>
                        <h3 class="featurette-heading margin-inline">Network System</h3>
                        <p class="lead">Using internet, data access, data control, share data and device will be easy with network system structured. Distribute role user access to system also can manage in network system</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax row-stretch section-bg" style="background-image: url(assets/img/bg/bg-siluet-2.svg); height: 300px">
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading" style="color: #9a9a9a;">WANT TO TALK ABOUT YOUR PROJECT?</h3>
                    <p class="lead" style="color: white;">Start achieving your goal today by working with our top dev teams,
                        <br/>experienced in your market and tech stack.</p>
                    <br>
                    <a href="" class="btn btn-default btn-custom text-default btn-quotation" ng-click="openForm()">LET'S DISCUSS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="container">
            <div class="row text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-mikrotik.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-bosch.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-panasonic.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-vivotek.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-ibm.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-samsung.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-yeastar.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-fortinet.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-aruba.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-smsg-cctv.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-polycom.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-cisco.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-ubiquity.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-hp.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-netviel.png">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/vend-microsoft.png">
                </div>
            </div>
        </div>
    </div>
</div>

