<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">NETWORK SYSTEM</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        In a company, data network system is very important. It is used to access the internet, and to support business activities in company. Therefore, we provide Enterprise Network Service to meet the needs of data network. The service includes hardware procurement and the installation. The solutions we offer for the Enterprise Network Service are fiber optic installation, data system installation, and configuration of network system for company. We not only provide the data network services for big company, but also small &amp; medium company.
                        <br> For our enterprise network service, we use hardwares i.e.
                    </p>
                    <ul class="lead" style="padding-left: 1.5em;">
                        <li style="text-indent: -1.2em">&#x2611; Server: HP (contoh DL380 G9 dan DL160 G9) and Lenovo (x3650 M4 dan x3650 M5)</li>
                        <li style="text-indent: -1.2em">&#x2611; Switch: HP (contoh Aruba 2530 Switch dan HPE OfficeConnect 1820 Switch) and Cisco (CISCO Catalyst 2960-X Series)</li>
                        <li style="text-indent: -1.2em">&#x2611; Router atau Firewall: Fortigate (FG-60E dan FG-100D)  and Mikrotik (CCR1016-12G dan RB1100AHx2)</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="/assets/img/services/sol-survey-hand.svg" width="360">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row padding-inline">
        <div class="container">
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-fo.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Fiber Optic</h5>
                <p class="lead">eCommerce development with high conversion rate design and beautifully vamped is our thing from last 7 years. From check-in to check-out, track complete funnels right in your CMS.</p>
            </div>
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-router.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Network Router</h5>
                <p class="lead">eCommerce development with high conversion rate design and beautifully vamped is our thing from last 7 years. From check-in to check-out, track complete funnels right in your CMS.</p>
            </div>
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-server.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Data Server</h5>
                <p class="lead">eCommerce development with high conversion rate design and beautifully vamped is our thing from last 7 years. From check-in to check-out, track complete funnels right in your CMS.</p>
            </div>
        </div>
    </div>
    <!-- THE PROCESS -->
    <div class="row-stretch padding-inline bg-default">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h3 class="featurette-heading"><strong>Our Standard process for enterprise network</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step1.svg" class="img-responsive img-bussiness-process" width="320">
                <ul class="steps">
                    <li>
                        <h2><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Planning &amp; Designing</h4>
                        <h5 class="text-black">We collect information related to your company's need. Then, we make design, plans, and list of hardwares according to those information.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step2.svg" class="img-responsive img-bussiness-process" width="320">
                <ul class="steps">
                    <li>
                        <h2><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Hardware Procurement</h4>
                        <h5 class="text-black">We procure hardwares and deliver to your site. </h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step3.svg" class="img-responsive img-bussiness-process" width="320">
                <ul class="steps">
                    <li>
                        <h2><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Installation &amp; Testing</h4>
                        <h5 class="text-black">We install and configure the hardwares we delivered. We test the system to make sure it runs and functions properly.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- SUPPORTING TECHS -->
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/microsoft.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/mikrotik.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/cisco.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/ibm.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/ubiquiti.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/bosch.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/samsung.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/hp.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/aruba.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/panasonic.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/fortinet.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="vendor-logo img-responsive" src="assets/img/vendor/polycom.svg" style="max-height: 5em;max-width:80px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
