<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">NETWORK SYSTEM</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-bottom">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="it-infrastructure">IT Infrastructure</a></li>
                        <li>Network System</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        In a company, data network system is very important. It is used to access the internet, and to support business activities in company. Therefore, we provide Enterprise Network Service to meet the needs of data network. The service includes hardware procurement and the installation. The solutions we offer for the Enterprise Network Service are fiber optic installation, data system installation, and configuration of network system for company. We not only provide the data network services for big company, but also small &amp; medium company.
                        <br> For our enterprise network service, we use hardwares i.e.
                    </p>
                    <ul class="lead" style="padding-left: 1.5em;">
                        <li style="text-indent: -1.2em">&#x2611; Server: HP (example DL380 G9 dan DL160 G9) and Lenovo (x3650 M4 dan x3650 M5)</li>
                        <li style="text-indent: -1.2em">&#x2611; Switch: HP (example Aruba 2530 Switch dan HPE OfficeConnect 1820 Switch) and Cisco (CISCO Catalyst 2960-X Series)</li>
                        <li style="text-indent: -1.2em">&#x2611; Router atau Firewall: Fortigate (FG-60E dan FG-100D) and Mikrotik (CCR1016-12G dan RB1100AHx2)</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="/assets/img/services/server-lg.svg" width="360">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row padding-inline">
        <div class="container">
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-fo.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Fiber Optic</h5>
                <p class="lead">Today's network backbones demand fiber optic cabling. Many companies or industrial / commercial buildings call for FO backbones when they need connectivity. A fiber optic network can transform any business with a significant increase in speed and numbers of users accessing data simultaneously.</p>
            </div>
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-server.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Network Server</h5>
                <p class="lead">Our company has been acknowledged in providing Server Installation Service to the clients. This service is executed by skilled professionals by using latest technology, good quality hardwares, and excellent working method.</p>
            </div>
            <div class="col-sm-4">
                <div class="box-chart-img">
                    <img src="assets/img/services/net-router.svg" height="180">
                </div>
                <h5 class="featurette-heading margin-inline text-center">Network Router</h5>
                <p class="lead">Our teams will save you from the difficulty and uncertainty of installing and configuring a secure network for your company. We will setup and configure your network, then help you connect to your workstation.</p>
            </div>
        </div>
    </div>
    <!-- THE PROCESS -->
    <div class="row-stretch padding-inline bg-default">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h3 class="featurette-heading"><strong>Our Standard process for enterprise network</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step1.svg" class="img-responsive center-block" width="300">
                <ul class="steps">
                    <li>
                        <h2><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Planning &amp; Designing</h4>
                        <h5 class="text-black">We collect information related to your company's need. Then, we make design, plans, and list of hardwares according to those information.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step2.svg" class="img-responsive center-block" width="300">
                <ul class="steps">
                    <li>
                        <h2><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Hardware Procurement</h4>
                        <h5 class="text-black">We procure hardwares and deliver to your site. </h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img src="assets/img/services/net-step3.svg" class="img-responsive center-block" width="300">
                <ul class="steps">
                    <li>
                        <h2><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Installation &amp; Testing</h4>
                        <h5 class="text-black">We install and configure the hardwares we delivered. We test the system to make sure it runs and functions properly.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
