<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">SECURITY SYSTEM</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-12 padding-bottom">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="it-infrastructure">IT Infrastructure</a></li>
                    <li>Security System</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <p class="lead">
                    Security system is one of the aspects attention of each company. The main function of this security system is anticipation of unwanted things happen and the company can control the state of the company as well. The other impact by building a security system is being able to generate a good reputation in the public eye. Because the public will see that with the security system can also prevent disadvantage that occur in a company, because the company already calculated to protect their assets.
                </p>
                <p class="lead">
                    Security system solution consists of surveillance system and access control &amp; visitor management. These security solutions can be adjusted with the scope of your company. We provide these solutions in one unified service, namely the system design, procurement and installation process. In this respect we are also working with famous brands.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-6">
                <div class="box-chart">
                    <h5 class="featurette-heading text-center"><strong>Surveillance Security <br>System</strong></h5>
                    <img src="assets/img/services/secure-cctv.svg" class="img-responsive center-block" width="280">
                    <p class="lead" align="justify">
                        The close eyes 24 hour, you can use it to stay close with your some private content like room, private document, safe deposit box, etc. It can be related with access control and visitor management.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box-chart">
                    <h5 class="featurette-heading text-center"><strong>Access Control &amp; Visitor Management</strong></h5>
                    <img src="assets/img/services/secure-fingerprint.svg" class="img-responsive center-block" width="280">
                    <p class="lead" align="justify">
                        Access control systems perform authorization identification, authentication, access approval, and accountability of entities through login credentials including passwords, personal identification numbers (PINs), biometric scans, and physical or electronic keys.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Hardwares provided for Surveillance system</strong></h3>
                <br>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-bullet.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">IP Bullet</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            The bullet camera can be used both outdoor and indoor, depend on the type that will be used. But, the bullet camera use fixed camera, so it can capture footage only in specific corner.<br>
                            <b>Type of Samsung CCTV for example: SNO-L6013R and QNO-6010R</b>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-dome.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Dome</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            Dome Camera is type that commonly used by people. There are some variations in dome type, fix camera (camera can only monitor in one direction) and speed dome (camera can rotate fast).<br>
                            <b>Type of Samsung CCTV for example: SND-L6013R and QND-6010R</b>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-box.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Box</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            Box camera commonly used both for indoor and outdoor. The  advantage of box camera is that a box camera is able to produce good quality images, although in minimum lighting condition.<br>
                            <b>Type of Samsung CCTV for example: SNB-5004</b>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-ptz.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">PTZ</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">PTZ (Pan Tilt Zoom) camera has the ability to move up and down, turn left and turn right, and to zoom pictures up to several zooming number. This camera can be used to monitor large area, to facilitate the CCTV supervisor in monitoring.<br><b>Samsung: SNP-L5233H and SNP-L6233H plus controller SPC 2000</b></h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-dome.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Fisheye</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            Fisheye CCTV use panoramic camera that can produce better quality of images with 180 degree of viewing angle. IP camera with fisheye lense can be remotely  monitored through PC, laptop, and smartphone.<br>
                            <b>Samsung SNF-7010</b>
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 margin-bottom-50">
                <img src="assets/img/services/cctv-nvr.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">DVR or NVR</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            The device that used as server and storage, to store the footages from all cameras that connected to this device. The number of DVR or NVR channel also varies, e.g. 4,8, 16, 32, and 64 channels. This number of channel means the maximum number of camera that can be connected to NVR/DVR<br>
                            <b>Samsung: NVR 16 (SRN-1673S) and 64 channel</b>
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <p class="lead">In common, the characteristics of cctv cameras are divided into 2 types:</p>
                <ul>
                    <li class="padding-bottom">
                        <h4>Weatherproof camera</h4>
                        <p class="lead">
                            The waterproof camera is designed to prevent water from rain, snow, fog, and tiny things like dirt or dust that can damage the internal component of camera. Physical design of weatherproof camera is designed to avoid bad and extreme weather, and also to make reliable monitoring in every condition.
                        </p>
                    </li>
                    <li class="padding-bottom">
                        <h4>Explosionproof camera</h4>
                        <p class="lead">
                            This type of camera usually used in dangerous area with the high risks. For example, in factory, oil refinery, or mining area that may be happen an explosion. The camera is designed to withstand any explosions that can happen in area with extreme condition. Also, the camera is equipped with the latest technology of dust and waterproof.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
