<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">TELEPHONE SYSTEM</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-bottom">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="it-infrastructure">IT Infrastructure</a></li>
                        <li>Telephone System</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="/assets/img/services/infra-telp.svg" class="img-responsive center-block" width="320">
                </div>
                <div class="col-md-8 col-sm-6">
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        To running your competitive business, communication solution must be adapted with the technology update. In this case are you have enough employee, branch office or human resources who take outside of office. Menara Sinar Semesta provide some of solution regarding telephone system that you can use in interal office that is solution based on IP or Hybrid. To meet your need, we provide 3 solutions of telephone system, there are:</p>
                    <ul class="lead">
                        <li>&#x2611; Analog telephone system</li>
                        <li>&#x2611; IP-based telephone system</li>
                        <li>&#x2611; Hybrid telephone system</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-inline">
        <div class="container padding-bottom">
            <div class="col-sm-12">
                <h3 class="featurette-heading">1. Analog Telephone System</h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="assets/img/services/infra-telp-analog.svg" class="img-responsive center-block" width="260">
            </div>
            <div class="col-md-8 col-sm-6">
                <p class="lead" align="justify">
                    With Analog Phone, you can get good voice quality because it uses a cable, do not require much power, even if the network goes down, the telephone network is still on, flexibility PBX support.
                </p>
                <h4 class="text-black">Why Analog System?</h4>
                <p class="lead" align="justify">
                    Analog systems have supported businesses for decades. Built on standard copper wire phones, they are reliable, boast good voice quality, and have the basic features you might find in a typical home phone such as hold, mute, redial, and speed dial. They may also be able to transfer calls between extensions.
                </p>
            </div>
        </div>
        <div class="container padding-bottom">
            <div class="col-sm-12">
                <h3 class="featurette-heading">2. IP-Based Telephone System</h3>
            </div>
            <div class="col-md-8 col-sm-6">
                <p class="lead" align="justify">
                    Telephone System Solution IP based is the network concept communication next generation network that can integrate conventional telephone network, mobility telephone network, satelite telephone network and network based on package.
                    <br> For this solution, we provide 2 type of telephone from different vendor, there are : <b>MyPBX YeastarU100</b> for IP PBX system and <b>Yealink SIP-T21PE</b> for IP Phone system.
                </p>
                <h4 class="text-black">The benefits of using IP Phone</h4>
                <p class="lead" align="justify">
                    IP telephone system is easier to install, configure, and maintain, flexible to move other point, scales up or down easily, employees' numbers follow them wherever they go, a range of call features are supported, hosted IP saves businesses money, integrates with other business systems
                </p>
                <br>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="assets/img/services/infra-telp-ip.svg" class="img-responsive center-block" width="280">
            </div>
        </div>
        <div class="container padding-bottom">
            <div class="col-sm-12">
                <h3 class="featurette-heading">3. Hybrid Telephone System</h3>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="assets/img/services/infra-telp-hybrid.svg" class="img-responsive center-block" width="280">
            </div>
            <div class="col-md-8 col-sm-6">
                <p class="lead" align="justify">
                    Hybrid system work in the PBX system that can be integrated with network IP Data, and this is one of the solution that reduce cost, because telephone communication can be connected with VoIP, WAN or LAN that located in internal company with no worries about communication quality.
                    <br> We use <b>Panasonic NS300</b> and <b>Panasonic DT-543 and Panasonic KX-TS505X</b> for our hybrid system.
                </p>
                <h4 class="text-black">Why you need hybrid system</h4>
                <p class="lead" align="justify">
                    A hybrid PBX has many of the same great features you can expect from VoIP services, including call rules, auto-attendant, and hold queues. The hybrid PBX also has the capacity for virtual conference rooms, fax over IP, and video conferences. The hybrid PBX also can do SIP trunking. The most important feature of the hybrid PBX is that if either the legacy PBX or the VoIP server isn’t working, it automatically switches over to the other network.
                </p>
                <br>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <h4 class="featurette-heading text-center">We give you better services</h4>
            </div>
            <div class="col-sm-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/infra-telp-chat.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-center">GOOD COMMUNICATION</h4>
                        <br>
                        <p class="lead" align="justify">
                            Good communication is the number one to explore customer requirement from A to Z because from this point we can start project and will be able to launch successfully.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/infra-telp-good.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-center">QUALITY CONTROL</h4>
                        <br>
                        <p class="lead" align="justify">
                            Each product and even our process has been through quality control process. All of these to make sure you are satisfy with our service because you are precious.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/infra-telp-deliver.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-center">DELIVERY SERVICE</h4>
                        <br>
                        <p class="lead">
                            We have procedure for delivery service about secure, urgent, or bulkly categories to make sure you have been receive your order on time and no broken.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-bottom">
        <div class="container">
            <div class="col-sm-12">
                <h4 class="featurette-heading text-center">GOOD PROCESS STEP</h4>
            </div>
            <div class="col-sm-3">
                <img src="assets/img/services/infra-telp-1.svg" class="img-responsive center-block" width="180">
                <ul class="steps">
                    <li>
                        <h2><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Discuss with customer</h4>
                        <h5 class="text-black">We collect information related to the customer's need, such as location, function, location, and the scope of installation.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <img src="assets/img/services/infra-telp-2.svg" class="img-responsive center-block" width="180">
                <ul class="steps">
                    <li>
                        <h2><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Survey the location</h4>
                        <h5 class="text-black">We visit customer's office/site to make an architecture and the configuration of the system.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <img src="assets/img/services/infra-telp-3.svg" class="img-responsive center-block" width="180">
                <ul class="steps">
                    <li>
                        <h2><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Create plans &amp; quotation</h4>
                        <h5 class="text-black">We create design based on location survey, plan the requirement and configuration. Make quotation and send it to customer.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <img src="assets/img/services/infra-telp-4.svg" class="img-responsive center-block" width="180">
                <ul class="steps">
                    <li>
                        <h2><strong>4.</strong></h2>
                    </li>
                    <li>
                        <h4 class="text-bold">Procure &amp; install the system</h4>
                        <h5 class="text-black">After quotation approved, we start to procure the hardwares and install on the site. We test the system to make sure it works properly.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- supporting technologies -->
    <div class="row-stretch bg-default">
        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="col-sm-4">
                    <img class="vendor-logo img-responsive center-block" src="assets/img/vendor/samsung.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-sm-4">
                    <img class="vendor-logo img-responsive center-block" src="assets/img/vendor/panasonic.svg" style="max-height: 5em;max-width:80px;">
                </div>
                <div class="col-sm-4">
                    <img class="vendor-logo img-responsive center-block" src="assets/img/vendor/samsung.svg" style="max-height: 5em;max-width:80px;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-twitter" prevent-default>
                        <i class="fa fa-twitter fa-2x"></i> share
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-facebook" prevent-default>
                        <i class="fa fa-facebook fa-2x"></i> share
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
