<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">TELEPHONE SYSTEM</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        To running your competitive business, communication solution must be adapted with the technology update. In this case are you have enough employee, branch office or human resources who take outside of office. Menara Sinar Semesta provide some of solution regarding telephone system that you can use in interal office that is solution based on IP or Hybrid. 
                        Some of this solution is<br><br>
                        <table >
                            <tr align="justify">
                                <td>&#x2611;</td>
                                <td>Telephone System Solution IP based
                                Telephone System Solution IP based is the network concept communication next generation network that can integrate conventional telephone network, mobility telephone network, satelite telephone network and network based on package.<br><br>
                                There is some of product who ready with easy instalation, flexible connectivity and easy management setting:
                                <table>
                                    <tr>
                                        <td>1.</td>
                                        <td>IP PBX -> MyPBX YeastarU100</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>IP Phone -> Yealink SIP-T21PE</td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><br></td>
                            </tr>
                            <tr align="justify">
                                <td>&#x2611;</td>
                                <td>Telephone System Solution Hybrid based
                                Hybrid system work in the PBX system that can be integrated with network IP Data, and this is one of the solution that reduce cost, because telephone communication can be connected with VoIP, WAN or LAN that located in internal company with no worries about communication quality.<br><br>
                                There is some of product Hybrid telephone system that we are provide:<br>
                                <table>
                                    <tr>
                                        <td>1.</td>
                                        <td>PBX -> Panasonic NS300</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>Telephone -> Panasonic DT-543 and Panasonic KX-TS505X</td>
                                    </tr>
                                </table></td>
                            </tr>
                        </table>
                        </ol>
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="/assets/img/services/sol-survey-hand.svg" width="360">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Customer Survey Application by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/survey-tool" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
