<div class="container">
    <div class="row" id="section-portfolio">
        <div class="col-md-6">
            <div class="kbhead-left">
                <img src="assets/img/small-icons/travel-ico.png" width="90%" height="auto">
            </div>
            <div class="kbhead-right">KNOWLEDGE BASE 1</div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="kbhead-left">
                <img src="assets/img/small-icons/travel-ico.png" width="90%" height="auto">
            </div>
            <div class="kbhead-right">KNOWLEDGE BASE 2</div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="kbhead-left">
                <img src="assets/img/small-icons/travel-ico.png" width="90%" height="auto">
            </div>
            <div class="kbhead-right">KNOWLEDGE BASE 3</div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="spacer-50"></div>
        </div>
        <div class="col-md-6">
            <div class="kbhead-left">
                <img src="assets/img/small-icons/travel-ico.png" width="90%" height="auto">
            </div>
            <div class="kbhead-right">KNOWLEDGE BASE 4</div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="col-md-12">
                <h5><strong>Lorem ipsum dolor sit amet, qui diam nibh assentior?</strong></h5>
                <p>Lorem ipsum dolor sit amet, qui diam nibh assentior eu, mea tractatos iudicabit ut, has elit nonumy veritus cu. Nullam contentiones cu eum. Autem dicat alterum eam et, natum mazim consulatu et usu. Te qui officiis deserunt, detraxit recteque an pri. Option equidem conclusionemque cu vel.</p>
            </div>
            <div class="spacer-50"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    if ($('html').hasClass('fp-enabled')) {
        $.fn.fullpage.destroy('all');
    }
    $('.navbar-wrapper').addClass('shrink');
});
</script>