<div class="container">
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12">
                <h3 class="featurette-heading text-center" style="margin-top:3em;">Website Profile Inquiry</h3>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">        
        <div class="container">
            <div class="col-md-8">
                <h4 class="featurette-heading">Requirements:</h4>
                <form class="compro-form">
                    <ul>
                        <li class="form-page">
                            <label class="fs-field-label fs-anim-upper">1. What is your need?</label>
                            <ul>
                                <li>
                                    <label class="label-upper" style="color:black;font-size:14px">
                                        <input type="radio" class="scope-p" value="New webiste"> Build a new website
                                    </label>
                                </li>
                                <li>
                                    <label class="label-upper" style="color:black;font-size:14px">
                                        <input type="radio" class="scope-p" value="Redesign website"> Redesign existing website
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="form-page">
                            <label class="fs-field-label fs-anim-upper" for="q2">2. What features do you want to show in your site?</label>
                            <ul ng-repeat="item in features">
                                <li>
                                    <label class="label-upper" style="color:black;font-size:14px">
                                        <input type="checkbox" class="scope-p" ng-model="feat[$index]" ng-change="selectItems(item)" value="{{item.name}}"> {{item.name}} <span>{{item.price | currency:"IDR "}}</span>
                                    </label>
                                </li>
                            </ul>
                        </li>
                        <li class="form-page">
                            <label class="fs-field-label fs-anim-upper" for="q2">3. What add-ons do you want to add to your site? (Price excluded)</label>
                            <ul ng-repeat="addon in addons">
                                <li>
                                    <label class="label-upper" style="color:black;font-size:14px">
                                        <input type="checkbox" class="scope-p" ng-model="plugins[addon]" value="{{addon}}"> {{addon}}
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button ng-click="submit()">Submit</button>
                </form>
            </div>
            <div class="col-md-4">
                <h4 class="featurette-heading">Summary:</h4>
                <p class="lead">Basic price of service includes: responsive template, admin dashboard, about (profile) page, contact page, social media share(max. 3 social media)</p>

                <ul ng-repeat="y in selectedItems track by $index" ng-show="selectedItems.length>0">
                    <li>{{y}}</li>
                </ul>
                <br> Price total: {{totprice | currency :"IDR "}}
            </div>
        </div>
    </div>
</div>
