<div class="container padding-top-inline">
    <div class="panel" block-ui="loadingBlock">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="col-md-1">
                        <img src="assets/img/icon/profile.svg" class="img-responsive">
                    </div>
                    <div class="col-md-8">
                        <h1>Profile</h1>
                        <p class="text-muted">Information about your profile</p>
                    </div>
                    <div class="col-md-3">
                        <a href="" class="pull-right" ng-click="close()">
                            <i class="fa fa-times fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <form name="profile-form" ng-submit="update()">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">First Name</label>
                                <input type="text" class="form-control" placeholder="Your first name" ng-model="userData.user_metadata.first_name" ng-required="true" capitalize-first>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Last Name</label>
                                <input type="text" class="form-control" placeholder="Your last name" ng-model="userData.user_metadata.last_name" ng-required="true" capitalize-first>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="col-md-6">
                        <div class="form-group float-label-control">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="Your email" ng-model="userData.email" ng-required="true" disabled>
                        </div>
                    </div> -->
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Phone Number</label>
                                <input type="phone" class="form-control" placeholder="Your phone number" ng-required="true" ng-model="userData.user_metadata.phone_number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Company</label>
                                <input type="text" class="form-control" placeholder="Your company name" ng-required="true" ng-model="userData.user_metadata.company_name" capitalize-first>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Website</label>
                                <input type="text" class="form-control" placeholder="Company website" ng-model="userData.user_metadata.website">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Address</label>
                                <textarea class="form-control" placeholder="Company address" rows="2" ng-required="true" ng-model="userData.user_metadata.company_address" capitalize-first></textarea capitalize-first>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">City</label>
                                <input type="text" class="form-control" placeholder="City" ng-model="userData.user_metadata.city" ng-required="true" capitalize-first>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <label for="">Province</label>
                                <input type="text" class="form-control" placeholder="Province" ng-model="userData.user_metadata.province" ng-required="true" capitalize-first>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group float-label-control">
                                <button type="btn" class="btn btn-lg btn-success" ng-click="" ng-disabled="profile-form.$invalid">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
.box-chart {
    min-height: 0px!important;
}

.hover {
    -webkit-transition: all .15s ease;
    /* Safari and Chrome */
    -moz-transition: all .15s ease;
    /* Firefox */
    -o-transition: all .15s ease;
    /* IE 9 */
    -ms-transition: all .15s ease;
    /* Opera */
    transition: all .15s ease;
}

.hover:hover {
    background-color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.05);
    /* Safari and Chrome */
    -moz-transform: scale(1.05);
    /* Firefox */
    -ms-transform: scale(1.05);
    /* IE 9 */
    -o-transform: translatZ(0) scale(1.05);
    /* Opera */
    transform: translatZ(0) scale(1.05);
}
</style>
