<div class="container padding-inline" product-view>
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">DOWNLOAD SECTION</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <p class="lead">Here you can find some catalogues and files you may needed to know better about our services</p>
            </div>            
        </div>
        <div class="container">
            <div class="col-sm-12">
                <h3 class="featurette-heading">COMPANY PROFILE</h3>
                <p class="lead">Here you can find some catalogues and files you may needed to know better about our services</p>
            </div> 
            <div class="col-sm-12">
                <h3 class="featurette-heading">PRODUCT CATALOGUES</h3>
                <p class="lead">Here you can find some catalogues and files you may needed to know better about our services</p>
            </div>            
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" socialshare socialshare-provider="twitter" socialshare-text="Software retail by PT Menara Sinar Semesta" socialshare-hashtags="emailservice, softwarelicense, msoffice, microsoft" socialshare-url="http://mss.co.id/#/products-software" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="facebook" socialshare-text="Software retail by PT Menara Sinar Semesta" socialshare-hashtags="emailservice, softwarelicense, msoffice, microsoft" socialshare-url="http://mss.co.id/#/products-software" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="google" socialshare-text="Software retail by PT Menara Sinar Semesta" socialshare-hashtags="emailservice, softwarelicense, msoffice, microsoft" socialshare-url="http://mss.co.id/#/products-software" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="Software retail by PT Menara Sinar Semesta" socialshare-hashtags="emailservice, softwarelicense, msoffice, microsoft" socialshare-url="http://mss.co.id/#/products-software" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
