<div class="parallax hard section-header" bg-parallax data-img="assets/img/bg/hardware-e.svg" style="background-image: url('assets/img/bg/hardware-e.svg'); background-color: #8eb46d;">
    <div class="page-title">
        <div class="row text-center">
            <h1>HARDWARE RETAIL</h1>
        </div>
    </div>
</div>
<div class="container padding-inline" product-view>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading">OUR HARDWARE PRODUCTS</h3>
            <p class="lead">We provide all of you need about IT products with high quality assurance.</p>
        </div>
    </div>
    <div class="row">
        <!-- Quickview template -->
        <div class="cd-quick-view">
            <div class="cd-slider-wrapper">
                <ul class="cd-slider">
                    <li class="selected"><img src="" alt=""></li>
                </ul>
                <ul class="cd-slider-navigation">
                    <li><a class="cd-next" href="">Prev</a></li>
                    <li><a class="cd-prev" href="">Next</a></li>
                </ul>
            </div>
            <div class="cd-item-info">
                <h2 class="title"></h2>
                <br>
                <h4 class="price" style="color: #000"></h4>
                <p class="desc"></p>
                <ul class="cd-item-action">
                    <li>
                        <button class="btn btn-lg btn-success btn-custom cd-add-to-cart" data-price="" data-id="" ng-click="add()" disabled="disabled">Contact us to order</button>
                    </li>
                    <!-- <li>
                        <div class="social-share">
                            Share:
                            <a href="#" socialshare socialshare-provider="twitter" socialshare-text="" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-twitter" prevent-default>
                                <i class="fa fa-twitter fa-2x"></i>
                            </a>
                            <a href="#" socialshare socialshare-provider="facebook" socialshare-text="" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-facebook" prevent-default>
                                <i class="fa fa-facebook fa-2x"></i>
                            </a>
                        </div>
                    </li> -->
                </ul>
            </div>
            <a href="#" class="cd-close">Close</a>
        </div>
        <!-- Mixitup -->
        <!-- <div class="container controls text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default filter" data-filter="all">ALL</button>
                <button type="button" class="btn btn-default filter" data-filter=".{{category}}" ng-repeat="category in categories">{{category | uppercase}}</button>
            </div>
        </div> -->
        <div class="container">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 text-center mix {{item.category}}" data-myorder="{{item.category}}" ng-repeat="item in hardwares">
                <div class="box-chart cd-item cd-trigger" data-id="{{item.id}}" data-index="{{$index}}">
                    <div class="box-chart-img">
                        <img src="{{item.img}}">
                    </div>
                    <div class="box-chart-content">
                        <p class="title">{{item.name}}</p>
                        <br>
                        <h1 class="price">IDR <strong> {{item.price | currency:"":0}}</strong></h1>
                        <input type="hidden" class="desc" value="{{item.desc}}" />
                        <br/>
                    </div>
                    <button class="btn btn-success btn-custom">View Details</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" socialshare socialshare-provider="twitter" socialshare-text="IT Hardware retail by PT Menara Sinar Semesta" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="facebook" socialshare-text="IT Hardware retail by PT Menara Sinar Semesta" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="google" socialshare-text="IT Hardware retail by PT Menara Sinar Semesta" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="IT Hardware retail by PT Menara Sinar Semesta" socialshare-hashtags="hardware, server, cctv, accesspoint, router" socialshare-url="http://mss.co.id/#/products-hardware" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
