<div class="container" id="home-wrapper">
    <div class="parallax section row-stretch">
        <ul class="home-slider height-full" slick>
            <li id="slider1" class="slider">
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-5 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <div class="home-slider-box-content">
                                        <h1 class="featurette-heading">IT is yours...</h1>
                                        <p class="lead" align="justify">With the passion, we tailor each solution straight to the point to meet customer need especially in the IT sector for Small Medium Business to Enterprise Business area. Let's explore your world with us!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="slider2" class="slider">
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-5 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <div class="home-slider-box-content">
                                        <h1 class="featurette-heading">INFRASTRUCTURE</h1>
                                        <p class="lead" align="justify">Planning and designing is the first stage of the process. We will collect all information related to your company’s needs. Based on the information we have, we will make plans and design for network systems, and list the hardware needed to be used in building the system.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li id="slider3" class="slider">
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-12 col-md-offset-6 col-md-5 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <div class="home-slider-box-content">
                                        <h1 class="featurette-heading">SOFTWARE DEVELOPMENT</h1>
                                        <p class="lead" align="justify">We provide IT technology for your business with a wide variety of sectors like finance, insurance, education, health, self-improvement, social, e-commerce, and beyond. Creative, innovative, focus on your business, bring the best services. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- Section Who We Are -->
    <div class="section row-stretch" style="background-color: white; padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle">
                <div class="row">
                    <div class="col-md-7">
                        <div class="featurette-content">
                            <h3 class="featurette-heading">WHO WE ARE</h3>
                            <p class="lead">MSS was founded in 2009 as a IT Company. With an initial focus on Dedicated Server and Enterprise Email Service, we entered the network infrastructure market in 2014. Today, we are a full-cycle service provider with full-time professionals covering all areas of IT. Our team members bring their unique set of skills to our departments: web development, mobile development, network infrastructure and technical service.</p>
                            <br/>
                            <br/>
                        </div>
                        <div class="featurette-content">
                            <h3 class="featurette-heading">WHAT WE DO</h3>
                            <p class="lead">We build exceptional web and mobile applications, business approached solutions, and reliable IT infrastructure. These services flawlessly align with client objectives, solving simple or complex business problems. Our team is always ready to take on projects of any size, able to start from scratch or enhance and build on existing. With professional expertise and a thoroughly organized development process, we can help clients overcome any and every technical challenge to make their IT dreams a reality.</p>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <img-eng class="img-responsive center-block" src="https://www.mss.co.id/assets/img/team.png" alt="about image"></img-eng>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision & Values -->
    <div class="parallax section row-stretch section-bg bg-custom" style="background-image: url(assets/img/bg/bg-siluet-2.svg);">
        <!-- <div class="section-overlay"></div> -->
        <div class="container">
            <div class="middle row">
                <div class="col-lg-12 padding-inline">
                    <h3 class="featurette-heading text-default text-center">Our Values</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><!-- <i class="fa fa-caret-right" aria-hidden="true"></i> --> <span style="font-size:50px">L</span> EADERSHIP</strong></h5>
                            <br>
                            <p class="lead text-default">We uphold the principle of good leadership in developing company.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> I</span> NTEGRITY</strong></h5>
                            <br>
                            <p class="lead text-default">We are committed to set standards of performance which always upholding the value of honesty, responsibility, discipline, courageous, and resilience.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> G</span> ENEROSITY</strong></h5>
                            <br>
                            <p class="lead text-default">We are committed to provide the best service, put the interests of customers, not just the pursuit of profits.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> H</span> UMILITY</strong></h5>
                            <br>
                            <p class="lead text-default">We value openness, give and look for honest feedback, open to improvement, learn from mistakes and successes, and never underestimate our competitors</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> T</span> RUSTWORTHY</strong></h5>
                            <br>
                            <p class="lead text-default">We uphold the principle of good leadership in developing company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR TEAM -->
    <div class="section row-stretch ourTeam" style="background-color:#fafafa;padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <h3 class="featurette-heading">OUR TEAM</h3>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/dani.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Dani Anjaya</h3>
                                            <h4 class="position">Chief Executive Officer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has strong skillset to manage business functionality. Experienced in business marketing field for over than 10 years.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/kiki.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Rizki Nurhidayati</h3>
                                            <h4 class="position">Project Manager</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has responsibility to manage business process of IT Infrastructure project from planning to live. Experienced in many enterprise IT projects.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/bayu.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Bayu Hafissa</h3>
                                            <h4 class="position">Lead Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has responsibility to manage software development project. Experienced in both website and mobile based programming languages.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/david.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">David Hariyanto</h3>
                                            <h4 class="position">CRM Specialist, Web Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Microsoft Dynamics CRM certified. Has a long experience in many CRM and website development projects for enterprise.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/septi.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Septi Wulansari</h3>
                                            <h4 class="position">CRM Specialist, UI/UX Designer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Microsoft Dynamics CRM certified. Has strong skillset of UI/UX designing. Experienced many website development projects for enterprise.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/indra.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Indra Lesmana</h3>
                                            <h4 class="position">Full-stack Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has a strong skillset and experience on enterprise website development. Specialized on hybrid mobile app development.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/alfian.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Alfian Fahmi</h3>
                                            <h4 class="position">Network Engineer, System Administrator</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>MTCNA Mikrotik Certified. Experienced in network and system administration. Has a strong skill on software and hardware installation.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/ellen.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Ellen Narulita</h3>
                                            <h4 class="position">Sales Executive</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has responsibility on customer relationship engagement. Has a good communication skill and long experience on IT fields.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i">
                        <div class="c text-center">
                            <div class="wrap">
                                <img-eng src="https://www.mss.co.id/assets/img/teams/kris.jpg" alt="#" width="270" height="270" class="img-responsive" pc="20"></img-eng>
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Feki Krisbiantoro</h3>
                                            <h4 class="position">Billing & Accounting</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Has a good skill of enterprise accounting. Has responsibility on billing management for customer/vendor and on tax supervising</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR CLIENTS -->
    <div class="section section-clients row-stretch" style="background-color: white; padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle row">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading line">OUR CLIENTS</h3>
                    <p class="lead">MSS has had the privilege of working with some of the biggest names in business as well as many exciting entrepreneurial and start-up companies in Indonesia. No matter what size the client, we are dedicated to providing the highest quality work and the greatest possible return on investment.</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-thc.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-mii.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-indosat.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ubs.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-aperdi.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-88eng.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-meraki.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-esandar.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ssc.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-tgssp.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-vif.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ocean.png">
                </div>
                <!-- <h3 class="featurette-heading line">WHAT THEY SAY</h3> -->
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- TESTIMONIALS -->
    <div class="section row-stretch padding-inline" style="background-color:#fafafa;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="featurette-heading line">OUR CLIENT'S SAY</h3>
                </div>
                <div class="col-sm-12">
                    <ul class="testimonial-slider text-center" slick>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Estu Bagus - PT GALAXY EXPRESS INTL LINE</strong></h4>
                                    <br>
                                    <p class="lead">Layanan produk yang kami pakai adalah email exchange. Kami merasa puas atas layanan yang diberikan. Ada trouble itu pasti, namun team support mss sudah baik dalam menanggapi keluhan dan menyelesaikan permasalahan yang ada (dalam hal ini di sisi teknis). Terima kasih mss.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Syafiudin Zuhri - Surabaya Skin Centre</strong></h4>
                                    <br>
                                    <p class="lead">Puas dengan pelayanan MSS, Setiap komplain dan keluhan ditangani secara Professional.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Rury Rahayu - PT Ocean Mega Persada</strong></h4>
                                    <br>
                                    <p class="lead">Sejak 2012 pakai email dari mss, udah banyak peningkatan, mulai tahun kemaren dan sampai sekarang makin banyak okehnya. Akses cepet, gampang, dan yang paling penting adalah no spam anymore. Dengan harga yang terjangkau tapi dapet produk & pelayanan yang ok. So, puas deh. Thank you MSS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Andry Kusno - PT Hon Chuan Indonesia</strong></h4>
                                    <br>
                                    <p class="lead">Pekerjaan dari MSS meliputi service dan dokumentasi sangat bagus. Skill dan teknik dari team MSS juga sangat baik.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Warih Anggono - PT Matsumura Itano Indonesia</strong></h4>
                                    <br>
                                    <p class="lead">Pelayanan PT MSS sangat memuaskan bagi kami. Mereka bisa bekerja tepat waktu sesuai dengan timeline yang telah ditentukan. Selain itu, staff yang tergabung di PT MSS adalah staff yang sudah berpengalaman di bidang IT. Respon mereka terhadap masalah yang kami hadapi sangat cepat. Hal ini sangat membantu kami dalam bekerja.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Afredho Agung - Taurus Gemilang-SSP</strong></h4>
                                    <br>
                                    <p class="lead">Overall, MSS giving us the best price and service from the start until now. we gain trust because of the speed of service from sales until the aftersales.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Erwin Gunawan - PT Esandar Arthamas Berjangka</strong></h4>
                                    <br>
                                    <p class="lead">PT MSS selama ini sangat membantu dalam hal pengoperasian Website dan agreement online kami.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Andry Satrya Wijaya - Meraki Works</strong></h4>
                                    <br>
                                    <p class="lead">MSS kinerjanya sangat bagus, cepat, sesuai permintaan client. dan orang2nya sabar menghadapi revisi dll. juga sistem kerjanya jelas dan terkontrol, sehingga pengguna jasa merasa aman jika projectnya dikerjakan MSS</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .slick-dots{
        margin-bottom: 2em;
    }
    ul.testimonial-slider .slick-slider{
        margin-bottom: 2em;
    }
</style>