<div class="container" id="home-wrapper">
    <div class="parallax section row-stretch">
        <ul class="home-slider height-full">
            <li style="background-image: url(assets/img/slider/bg-softdev.svg);background-repeat: no-repeat;background-position: center;background-size: cover;width: 100%;height: 100%;">
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-6 col-md-6 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <!-- <img src="assets/img/slider/bann1.png"> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-5 col-md-5 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <h3 class="featurette-heading">Software Development House</h3>
                                    <p class="lead" align="justify">We work with customers in a wide variety of sectors like finance, insurance, education, health, self-improvement, social, e-commerce, and beyond. Creative, innovative, focus on your business, bring the best services. </p>
                                    <a class="btn btn-info btn-lg btn-custom" ui-sref="software-development">Find Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- <li>
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-6 col-md-6 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <img src="assets/img/slider/bann2.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <h3 class="featurette-heading">Security System</h3>
                                    <p class="lead" align="justify">Make sure your business running securely with security system support include CCTV, Access Control, and Visitor Management. With secure in your hand makes the peace of mind</p>
                                    <a class="btn btn-info btn-lg btn-custom" ui-sref="it-infrastructure">Find Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <div>
                        <div class="col-xs-12 col-sm-6 col-md-6 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <img src="assets/img/slider/bann3.png">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 slide-content">
                            <div class="outer">
                                <div class="middle">
                                    <h3 class="featurette-heading">Email Business for Your Office</h3>
                                    <p class="lead" align="justify">It’s easier than ever to provide your users with the business email they need to stay productive. With anywhere access to email, calendar, and contacts on all major browsers and across devices. Integration with Outlook means they’ll enjoy a rich, familiar email experience with offline access.</p>
                                    <a class="btn btn-info btn-lg btn-custom" ui-sref="software">Find Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li> -->
        </ul>
    </div>
    <!-- Section Who We Are -->
    <div class="section row-stretch" style="background-color: white; padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle">
                <div class="row">
                    <div class="col-md-7">
                        <div class="featurette-content">
                            <h3 class="featurette-heading">WHO WE ARE</h3>
                            <p class="lead">MSS was founded in 2009 as a IT Company. With an initial focus on Dedicated Server and Enterprise Email Service, we entered the network infrastructure market in 2014. Today, we are a full-cycle service provider with full-time professionals covering all areas of IT. Our team members bring their unique set of skills to our departments: web development, mobile development, network infrastructure and technical service.</p>
                            <br/>
                            <br/>
                        </div>
                        <div class="featurette-content">
                            <h3 class="featurette-heading">WHAT WE DO</h3>
                            <p class="lead">We build exceptional web and mobile applications, business approached solutions, and reliable IT infrastructure. These services flawlessly align with client objectives, solving simple or complex business problems. Our team is always ready to take on projects of any size, able to start from scratch or enhance and build on existing. With professional expertise and a thoroughly organized development process, we can help clients overcome any and every technical challenge to make their IT dreams a reality.</p>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-5 text-right">
                        <img class="img-responsive center-block" src="assets/img/team.png" alt="about image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Vision & Values -->
    <div class="parallax section row-stretch section-bg" style="background-image: url(assets/img/bg/bg-siluet-1.svg);">
        <div class="section-overlay"></div>
        <div class="container">
            <div class="middle row">
                <div class="col-lg-12">
                    <h3 class="featurette-heading text-default text-center">Our Values</h3>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><!-- <i class="fa fa-caret-right" aria-hidden="true"></i> --> <span style="font-size:50px">L</span> EADERSHIP</strong></h5>
                            <br>
                            <p class="lead text-default">We uphold the principle of good leadership in developing company.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> I</span> NTEGRITY</strong></h5>
                            <br>
                            <p class="lead text-default">We are committed to set standards of performance which always upholding the value of honesty, responsibility, discipline, courageous, and resilience.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> G</span> ENEROSITY</strong></h5>
                            <br>
                            <p class="lead text-default">We are committed to provide the best service, put the interests of customers, not just the pursuit of profits.</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> H</span> UMILITY</strong></h5>
                            <br>
                            <p class="lead text-default">We value openness, give and look for honest feedback, open to improvement, learn from mistakes and successes, and never underestimate our competitors</p>
                        </div>
                    </div>
                    <div class="col-lg-15">
                        <div>
                            <h5 class="text-default"><strong><span style="font-size:50px"> T</span> RUSTWORTHY</strong></h5>
                            <br>
                            <p class="lead text-default">We uphold the principle of good leadership in developing company.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR TEAM -->
    <div class="section row-stretch ourTeam" style="background-color: #fff;padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle">
                <div class="row text-center">
                    <div class="col-lg-12 text-center">
                        <h3 class="featurette-heading">OUR TEAM</h3>
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-dany.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Dani Anjaya</h3>
                                            <h4 class="position">Chief Executive Officer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-kiki.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Rizki Nurhidayati</h3>
                                            <h4 class="position">Project Manager</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-bayu.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Bayu Hafissa</h3>
                                            <h4 class="position">Lead Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-david.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">David Hariyanto</h3>
                                            <h4 class="position">CRM Specialist, Web Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-septi.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Septi Wulansari</h3>
                                            <h4 class="position">Web App Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-indra.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Indra Lesmana</h3>
                                            <h4 class="position">UI/UX Designer, Mobile Developer</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-fian.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Alfian Fahmi</h3>
                                            <h4 class="position">Network Engineer, System Administrator</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-kris.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Feki Krisbiantoro</h3>
                                            <h4 class="position">Account Manager</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 i" style="margin-bottom:2em;">
                        <div class="c text-center">
                            <div class="wrap">
                                <img src="assets/img/teams/team-ellen.jpg" alt="#" width="270" height="270" class="img-responsive">
                                <div class="info">
                                    <div class="outer">
                                        <div class="middle">
                                            <h3 class="name">Ellen Narulita</h3>
                                            <h4 class="position">Sales Executive</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="more">
                                <p>Ut sed consectetur ligula. Aenean id nibh accumsan, pre tium nulla in, lacinia aecenas mollis ed mauris.</p>
                                <div class="socials">
                                    <a href="#" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MS PARTNER -->
    <div class="row row-stretch" style="background-color:#fafafa; height: 200px">
        <div class="container">
            <div class="col-md-6 col-xs-6 text-center">
                <div class="outer">
                    <div class="middle">
                        <h4 class="text-black"></h4>
                        <br>
                        <br>
                        <img src="assets/img/microsoft_partner.png" class="img-responsive" style="width: 50%; margin: auto;">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-6 text-center text-black">
                <div class="outer">
                    <div class="middle">
                        <h4 class="text-black">Hosted on</h4>
                        <br>
                        <br>
                        <img src="assets/img/msazure.png" class="img-responsive" style="width: 50%; margin: auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- OUR CLIENTS -->
    <div class="section section-clients row-stretch" style="background-color: white; padding-top: 100px;padding-bottom: 100px;">
        <div class="container">
            <div class="middle row">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading line">OUR CLIENTS</h3>
                    <p class="lead">MSS has had the privilege of working with some of the biggest names in business as well as many exciting entrepreneurial and start-up companies in Indonesia. No matter what size the client, we are dedicated to providing the highest quality work and the greatest possible return on investment.</p>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-thc.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-mii.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-indosat.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ubs.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-aperdi.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-88eng.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-meraki.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-esandar.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ssc.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-tgssp.png">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-vif.png">
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center vendor-logo">
                    <img class="img-responsive" src="assets/img/clientmss/cl-ocean.png">
                </div>
                <!-- <h3 class="featurette-heading line">WHAT THEY SAY</h3> -->
                <br>
                <br>
            </div>
        </div>
    </div>
    <!-- TESTIMONIALS -->
    <div class="section row-stretch padding-inline" style="background-color:#fafafa;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading line">OUR CLIENT'S SAY</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="testimonial-slider text-center" slick>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Estu Bagus - PT GALAXY EXPRESS INTL LINE</strong></h4>
                                    <br>
                                    <p class="lead">Layanan produk yang kami pakai adalah email exchange. Kami merasa puas atas layanan yang diberikan. Ada trouble itu pasti, namun team support mss sudah baik dalam menanggapi keluhan dan menyelesaikan permasalahan yang ada (dalam hal ini di sisi teknis). Terima kasih mss.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Syafiudin Zuhri - Surabaya Skin Centre</strong></h4>
                                    <br>
                                    <p class="lead">Puas dengan pelayanan MSS, Setiap komplain dan keluhan ditangani secara Professional.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Rury Rahayu - PT Ocean Mega Persada</strong></h4>
                                    <br>
                                    <p class="lead">Sejak 2012 pakai email dari mss, udah banyak peningkatan, mulai tahun kemaren dan sampai sekarang makin banyak okehnya. Akses cepet, gampang, dan yang paling penting adalah no spam anymore. Dengan harga yang terjangkau tapi dapet produk & pelayanan yang ok. So, puas deh. Thank you MSS</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Andry Kusno - PT Hon Chuan Indonesia</strong></h4>
                                    <br>
                                    <p class="lead">Pekerjaan dari MSS meliputi service dan dokumentasi sangat bagus. Skill dan teknik dari team MSS juga sangat baik.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Warih Anggono - PT Matsumura Itano Indonesia</strong></h4>
                                    <br>
                                    <p class="lead">Pelayanan PT MSS sangat memuaskan bagi kami. Mereka bisa bekerja tepat waktu sesuai dengan timeline yang telah ditentukan. Selain itu, staff yang tergabung di PT MSS adalah staff yang sudah berpengalaman di bidang IT. Respon mereka terhadap masalah yang kami hadapi sangat cepat. Hal ini sangat membantu kami dalam bekerja.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Afredho Agung - Taurus Gemilang-SSP</strong></h4>
                                    <br>
                                    <p class="lead">Overall, MSS giving us the best price and service from the start until now. we gain trust because of the speed of service from sales until the aftersales.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Erwin Gunawan - PT Esandar Arthamas Berjangka</strong></h4>
                                    <br>
                                    <p class="lead">PT MSS selama ini sangat membantu dalam hal pengoperasian Website dan agreement online kami.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="outer">
                                <div class="middle">
                                    <h4><strong>Andry Satrya Wijaya - Meraki Works</strong></h4>
                                    <br>
                                    <p class="lead">MSS kinerjanya sangat bagus, cepat, sesuai permintaan client. dan orang2nya sabar menghadapi revisi dll. juga sistem kerjanya jelas dan terkontrol, sehingga pengguna jasa merasa aman jika projectnya dikerjakan MSS</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <!-- <footer class="row section text-center">
        <div class="outer">
            <div class="middle">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6">
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                </div>
                <div class="col-lg-12" id="copyright">
                    <p><a href="" class="social"><i class="fa fa-facebook"></i></a><a href="" class="social"><i class="fa fa-twitter"></i></a><a href="" class="social"><i class="fa fa-instagram"></i></a></p>
                    <p>&copy; <strong>2017 PT Menara Sinar Semesta </strong></p>
                    <p>Intiland Tower 2nd Floor Suite 6 — Surabaya</p>
                    <p><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
                </div>
            </div>
    </footer> -->
</div>
<style>
.info {
    height: 100%
}

.outer-test {
    padding: 5em 2em;
}

.info .outer,
.info .middle {
    display: block;
}

.ourTeam .i .c:hover .info .outer {
    display: table;
}

.ourTeam .i .c:hover .info .middle {
    display: table-cell;
}

@media (max-width: 1023px) {
    .outer-test {
        padding: 2em 2em;
    }
    .ourTeam .i .c .more .socials a {
        padding: 8px;
    }
    /*
    .home-slider .outer{
        height: auto;
        padding: 4.5em 2em;
    }*/
}

@media (max-width: 640px) {
    /*.home-slider .outer{
        height: auto;
        margin: 2em 0 0 0;
    }*/
    .ourTeam .i .c .wrap .info .name {
        font-size: 1.8em;
        margin: 0 0 5px 0;
    }
}

@media (max-width: 439px) {
    .ourTeam .i .c .more p {
        display: none;
    }
    .ourTeam .i .c .wrap .info {
        padding: 10px 0;
    }
    .ourTeam .i .c .wrap .info .name {
        font-size: 1.6em;
        margin: 0 0 5px 0;
    }
    .ourTeam .i .c .more .socials a {
        padding: 8px;
        margin: 5px;
    }
}
</style>
