<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">ACRONIS CLOUD BACKUP</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:1em;padding-bottom:1em;">
        <div class="container">
            <div class="middle">
                <div class="col-sm-12 padding-bottom" style="z-index: 100000000;">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="solutions">Solution</a></li>
                        <li>Acronis Backup</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <img src="/assets/img/services/img-backup.png" width="360">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 padding-inline">
                    <p class="lead">
                        Acronis Backup Service (ABS) offers a complete and easy-to-manage service that provides data backup from any source and data recovery to any destination and system. Powered by the Acronis AnyData Engine, this set of solutions enable organizations to capture, store, recover, control, and access data in virtual, physical, cloud, and mobile environments - using one centralized web-based management console. ABS backs up physical and virtual servers and workstations to local storage or to Acronis’ secure data centers. Acronis Backup Service also recovers individual files, hard disks as well as entire systems.
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="col-md-12 text-center">
            <h3 class="featurette-heading text-black"><strong>Focused Area</strong></h3>
            <br>
        </div>
        <div class="container">
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-recover.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Recovery Any Business</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-server.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Physical Server Backup</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-workstation.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Workstation (Windows PC)</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-vm.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Virtual Machine</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-mobile.svg" height="86">
                    </div>
                    <h3 class="featurette-heading margin-inline">Mobile Device</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/acro-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Application Server</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
