<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">ACRONIS CLOUD BACKUP</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:1em;padding-bottom:1em;">
        <div class="container padding-inline">
            <div class="middle">
                <div class="col-md-4">
                	<img src="/assets/img/services/img-backup.png">
                </div>
                <div class="col-md-8 padding-inline">
                	<p class="lead">
                		An usu semper sapientem, velit intellegam ut sed, has ea verterem consequat. Ne doming labores verterem his, ex facer insolens salutandi has. Eos accusata conclusionemque cu. Autem graeco recusabo duo ei, has suscipit neglegentur id. Iriure voluptatum mea te, no noluisse scriptorem usu.
                	</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="col-md-12 text-center">
            <h3 class="featurette-heading text-black"><strong>Lorem ipsum dolor sit</strong></h3>
            <br>
        </div>
        <div class="container">
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Web App</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Web App</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Web App</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
        </div>
    </div>
</div>
