<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">ACRONIS CLOUD BACKUP</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:1em;padding-bottom:1em;">
        <div class="container">
            <div class="middle">
                <div class="col-sm-12 padding-bottom">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="solutions">Solution</a></li>
                        <li>Acronis Cloud Backup</li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <img src="/assets/img/services/img-backup.png">
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6 padding-inline">
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify"><strong>Best-In-Class Offsite Cloud Backup</strong>
                        <br> Acronis Cloud Storage is an easy-to-use, offsite cloud backup storage subscription that turns any Acronis Backup or Acronis Backup Advanced product into a powerful hybrid cloud backup solution! Enjoy safe, secure, and scalable offsite backup for any data or any system — anytime, anywhere.
                        <ol class="lead text-default" style="color: #2e2e2e!important" align="justify">
                            <li>&#x2611; Perform local and offsite cloud backup in one easy step within any Acronis business backup product.</li>
                            <li>&#x2611; Back up everything — disks, partitions, servers, data — to the Acronis Cloud.</li>
                            <li>&#x2611; Recover anything quickly and easily — files, folders, applications, or an entire system.</li>
                            <li>&#x2611; Keep backups safe in Acronis’ ultra-secure, Tier-IV designed & SSAE-16 compliant local data centers.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="col-md-12 text-center">
            <h3 class="featurette-heading text-black"><strong>Why Acronis Cloud Storage?</strong></h3>
            <br>
        </div>
        <div class="container">
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="box-chart-img">
                    <img src="assets/img/services/acro-recover.svg" height="80">
                </div>
                <h3 class="featurette-heading margin-inline">Easy to Implement</h3>
                <p class="lead" align="justify">Simply buy a subscription, select the cloud storage size you need, and start backing up to our secure local data centers with Acronis Backup or Acronis Backup Advanced!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="box-chart-img">
                    <img src="assets/img/services/acro-server.svg" height="80">
                </div>
                <h3 class="featurette-heading margin-inline">Fully Integrated</h3>
                <p class="lead" align="justify">Acronis Cloud Storage is seamlessly integrated with Acronis Backup and Acronis Backup Advanced so you can perform both local and secure offsite backups in the same easy step, hassle-free!</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="box-chart-img">
                    <img src="assets/img/services/acro-workstation.svg" height="80">
                </div>
                <h3 class="featurette-heading margin-inline">Supports the 3-2-1 Data Protection Strategy</h3>
                <p class="lead" align="justify">You can easily implement the 3-2-1 data protection strategy to disaster-proof your data.</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <div class="box-chart-img">
                    <img src="assets/img/services/acro-vm.svg" height="80">
                </div>
                <h3 class="featurette-heading margin-inline">Eliminates Tape</h3>
                <p class="lead" align="justify">According to Redmond Magazine, 75 percent of small and medium-sized organizations that use tape backup experience tape failure each year. Do you want to take this risk? Choose reliable, offsite, cloud backup with Acronis and enjoy peace of mind!</p>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3 class="featurette-heading text-black"><strong>Rely on Secure and Compliant Data Centers</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="col-sm-4 center">
                    <img class="tech-logo img-responsive center-block" src="assets/img/acronis/SSAE.png" style="max-height: 10em">
                </div>
                <div class="col-sm-4 center">
                    <img class="tech-logo img-responsive center-block" src="assets/img/acronis/PCi.png" style="max-height: 10em;">
                </div>
                <div class="col-sm-4 center">
                    <img class="tech-logo img-responsive center-block" src="assets/img/acronis/SQS-ISO-27001.png" style="max-height: 10em;">
                </div>
                <div class="col-sm-4 center">
                    <img class="tech-logo img-responsive center-block" src="assets/img/acronis/SOCLogoSOs.png" style="max-height: 10em;">
                </div>
                <div class="col-sm-4 center">
                    <img class="tech-logo img-responsive center-block" src="assets/img/acronis/images.png" style="max-height: 10em;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Acronis Cloud Backup Service by PT Menara Sinar Semesta" socialshare-hashtags="filesharing, cloud, cloudstorage, cloudbackup" socialshare-url="http://mss.co.id/#/acronis-backup" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
