<div class="row-stretch bg-custom page-title-2" data-img="assets/img/bg/solutions.svg" style="background-position: center;background-image: url(assets/img/bg/bg-siluet-3.svg); height: 300px">
    <div class="row text-center">
        <h1 style="color: white;">BUSINESS EMAIL</h1>
    </div>
</div>
<div class="row-stretch bg-default padding-inline">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-bottom">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="solutions">Solution</a></li>
                    <li>Business Email</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row padding-inline">
            <div class="col-md-4 pull-right">
                <img class="img-responsive center-block" src="assets/img/retail/email-1.png" width="300">
            </div>
            <div class="col-md-8">
                <h3 style="color: #1c4488;">STANDARD Package</h3>
                <br/>
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    <i class="fa fa-check-square-o"></i> Secure and reliable business-class email with a 50 GB mailbox per user.
                    <br><i class="fa fa-check-square-o"></i> Users can connect supported versions of Outlook<sup>&reg;</sup> to Exchange Online, so they can use the rich client application they already know.
                    <br><i class="fa fa-check-square-o"></i> For web-client access, Outlook<sup>&reg;</sup> on the web provides a premium browser-based experience that matches the look and feel of the full Outlook<sup>&reg;</sup> client.
                </p>
                <h2><small>IDR</small> 62,000 <small>/user per month</small></h2>
                <br>
                <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>contact us to order</strong></button>
            </div>
        </div>
        <hr>
        <div class="row padding-inline">
            <div class="col-md-4">
                <img class="img-responsive center-block" src="assets/img/retail/email-2.png" width="300">
            </div>
            <div class="col-md-8">
                <h3 style="color: #1c4488;">PREMIUM Package</h3>
                <br/>
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    <i class="fa fa-check-square-o"></i> Business-class email hosting with 50 GB mailbox.
                    <br><i class="fa fa-check-square-o"></i> 1 TB of OneDrive<sup>&reg;</sup> storage.
                    <br><i class="fa fa-check-square-o"></i> Host unlimited HD video conferencing meetings for up to 250 people with Skype&trade; for Business.
                    <br><i class="fa fa-check-square-o"></i> Web versions of Outlook<sup>&reg;</sup>, Word<sup>&reg;</sup>, Excel<sup>&reg;</sup>, and PowerPoint<sup>&reg;</sup> (desktop versions of applications not included).
                    <br><i class="fa fa-check-square-o"></i> Manage tasks and teamwork with Microsoft Planner.
                    <br><i class="fa fa-check-square-o"></i> Collaborate across departments and locations with Yammer.
                    <br><i class="fa fa-check-square-o"></i> Maximum number of users: 300
                </p>
                <h2><small>IDR</small> 85,000 <small>/user per month</small></h2>
                <br>
                <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>contact us to order</strong></button>
            </div>
        </div>
        <hr>
        <div class="row padding-inline">
            <div class="col-md-4 pull-right">
                <img class="img-responsive center-block" src="assets/img/retail/email-3.png" width="300">
            </div>
            <div class="col-md-8">
                <h3 style="color: #1c4488;">ENTERPRISE Package</h3>
                <br/>
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    <i class="fa fa-check-square-o"></i> Business-class email hosting with 50 GB mailbox.
                    <br><i class="fa fa-check-square-o"></i> Desktop versions of Office 2016 applications: Outlook<sup>&reg;</sup>, Word<sup>&reg;</sup>, Excel<sup>&reg;</sup>, PowerPoint<sup>&reg;</sup>, OneNote, plus Access and Publisher for PC only.
                    <br><i class="fa fa-check-square-o"></i> Web versions of Outlook<sup>&reg;</sup>, Word<sup>&reg;</sup>, Excel<sup>&reg;</sup>, and PowerPoint<sup>&reg;</sup>.
                    <br><i class="fa fa-check-square-o"></i> 1 TB of OneDrive<sup>&reg;</sup> storage.
                    <br><i class="fa fa-check-square-o"></i> Inform and engage employees with a SharePoint intranet, and connect teams to content, expertise and processes with SharePoint team sites.
                    <br><i class="fa fa-check-square-o"></i> One license covers 5 PCs or Macs, 5 phones, and 5 tablets per user.
                    <br><i class="fa fa-check-square-o"></i> Host unlimited HD video conferencing meetings for up to 250 people with Skype&trade; for Business.
                    <br><i class="fa fa-check-square-o"></i> Chat-based workspace to connect your teams with Microsoft Teams
                </p>
                <h2><small>IDR</small> 215,000 <small>/user per month</small></h2>
                <br>
                <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>contact us to order</strong></button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="clearfix"></div>
<div class="row-stretch padding-inline">
    <div class="container">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading text-black"><strong>What's the benefits?</strong></h3>
            <br>
            <br>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img src="assets/img/services/sol-suv-market.svg" width="200" class="img-responsive center-block">
            <ul class="steps">
                <li>
                    <h2><strong>1.</strong></h2>
                </li>
                <li>
                    <h5 class="text-black">Tailor your requirement to grab some information about your business.</h5>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img src="assets/img/services/sol-suv-result.svg" width="200" class="img-responsive center-block">
            <ul class="steps">
                <li>
                    <h2><strong>2.</strong></h2>
                </li>
                <li>
                    <h5 class="text-black">Get and learn each result for every market survey you done.</h5>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img src="assets/img/services/sol-suv-convert.svg" width="200" class="img-responsive center-block">
            <ul class="steps">
                <li>
                    <h2><strong>3.</strong></h2>
                </li>
                <li>
                    <h5 class="text-black">Separate each result to opportunity or cases.</h5>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-sm-6 text-center">
            <img src="assets/img/services/sol-suv-win.svg" width="200" class="img-responsive center-block">
            <ul class="steps">
                <li>
                    <h2><strong>4.</strong></h2>
                </li>
                <li>
                    <h5 class="text-black">Handle each result to the right decission to win your market area.</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row-stretch bg-default padding-inline">
    <div class="container">
        <div class="col-md-12 text-center">
            <h3 class="featurette-heading text-black"><strong>Supporting Technologies</strong></h3>
            <br>
            <br>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <div class="col-sm-3 center">                
            </div>
            <div class="col-sm-3 center">
                <img class="tech-logo img-responsive center-block" src="assets/img/tech/logo-outlook.png">
            </div>
            <div class="col-sm-3 center">
                <img class="tech-logo img-responsive center-block" src="assets/img/tech/logo-exchange.png">
            </div>
            <div class="col-sm-3 center">
            </div>
        </div>
    </div>
</div>
<!-- Social share -->
<div class="row-stretch">
    <div class="sticky-container">
        <ul class="sticky">
            <li>
                <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Business Email Service by PT Menara Sinar Semesta" socialshare-hashtags="email, businessemail, outlook, office365" socialshare-url="http://mss.co.id/#/business-email" class="social-twitter" prevent-default>
                        share <i class="fa fa-twitter fa-2x"></i>
                    </a>
            </li>
            <li>
                <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Business Email Service by PT Menara Sinar Semesta" socialshare-hashtags="email, businessemail, outlook, office365" socialshare-url="http://mss.co.id/#/business-email" class="social-facebook" prevent-default>
                        share <i class="fa fa-facebook fa-2x"></i>
                    </a>
            </li>
            <li>
                <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Business Email Service by PT Menara Sinar Semesta" socialshare-hashtags="email, businessemail, outlook, office365" socialshare-url="http://mss.co.id/#/business-email" class="social-google" prevent-default>
                        share <i class="fa fa-google fa-2x"></i>
                    </a>
            </li>
            <li>
                <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Business Email Service by PT Menara Sinar Semesta" socialshare-hashtags="email, businessemail, outlook, office365" socialshare-url="http://mss.co.id/#/business-email" class="social-linkedin" prevent-default>
                        share <i class="fa fa-linkedin fa-2x"></i>
                    </a>
            </li>
        </ul>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
