<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">LIVE STOCKS TICKER</h1>
        </div>
    </div>


    <div class="row-stretch bg-default" style="padding-top:3em;padding-bottom:3em;">
        <div class="container">
            <div class="middle">
                <div class="col-lg-6">
                    <img src="/assets/img/services/sol-tickers.svg" class="img-responsive center-block" width="400">
                </div>
                <div class="col-lg-6">
                    <p class="software-lead text-default">
                        Work smarter to win faster.
                    </p>
                    <p class="lead">Get real-time update of quote stocks and find last sale, net change and volume information in real-time. From MetaTrader4 allow you to automatically copy the deals performed by other traders in real time. Many successful traders provide their Forex trades in public access either for free or for a reasonable fee, becoming signal providers.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/live-stock/live-stock.PNG" width="600">
                </div>
            </div>
        </div>
    </div>

    <div class="row padding-inline">
        <div class="col-md-12 text-center">
            <h3 class="featurette-heading text-black"><strong>Lorem ipsum dolor sit</strong></h3>
            <br>
        </div>
        <div class="container">
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Real Time Data Processing</h3>
                    <p class="lead">It's the ability to have your price as it happens, in real-time.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Web App</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <div class="box-chart hover">
                    <div class="box-chart-img">
                        <img src="assets/img/services/web-app.svg" height="80">
                    </div>
                    <h3 class="featurette-heading margin-inline">Web App</h3>
                    <p class="lead">We craft your thoughts of web applications and build them to be known. We have experts who have developed many projects with excellent quality.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/live-stock/aspnet.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-angular.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-node.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                     <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/visualstudio.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                     <img class="tech-logo img-responsive" src="assets/img/live-stock/signalr.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/html5.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/css3-med.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/javascript_logo.png" style="max-height: 10em;">
                </div>
            </div>
        </div>
    </div>
</div>
<style>
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
