<div class="container">
    <div class="page-title">
        <div class="row text-center">
            <h1 style="color: #1c4488;">LIVE STOCKS TICKER</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:3em;padding-bottom:3em;">
        <div class="container padding-inline">
            <div class="middle">
                <div class="col-lg-10 col-md-offset-1 text-center">
                    <p class="lead">WLorem ipsum dolor sit amet, quis nihil dolore eum an. Ne alia vidisse sadipscing vim. Sit autem doming feugiat ei, at per populo volumus, mei scripta ceteros percipit ne. Ad eos qualisque liberavisse, ex sea movet perfecto mnesarchum, an praesent percipitur eam. Mea ea ubique pertinax repudiandae.
                        <br>
                        <br> Elit volumus noluisse per ne. Facilisis prodesset delicatissimi vix eu. Ipsum delectus apeirian te sed. Natum utinam nostro eam ea, id phaedrum consequuntur vim, quo clita euismod ei.
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
