<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">MAINTENANCE SERVICE</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-12 padding-bottom">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="solutions">Solution</a></li>
                    <li>Maintenance Service</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <p class="lead">
                    Lorem ipsum dolor sit amet, mel albucius complectitur cu. Meliore verterem mea ne. Homero dolores sed at. Ad sumo assum eruditi per. Usu habemus persequeris ut. No pri atqui discere. No nam quem persius, id eos consul bonorum interpretaris. Patrioque temporibus nec in. Est stet option pertinax et. Te vim velit sonet convenire, ex appareat consequat eam. Eum at suas tantas, omnes lobortis sit id. Te lorem sententiae mea, mea no altera admodum inimicus.
                </p>
                <p class="lead">
                    Pri in saepe postea, partiendo voluptatum definiebas ea est. Sit id mentitum eloquentiam. Mei et aliquip signiferumque. Alterum civibus est eu, cu cum exerci viderer, qui no amet legere omnium. Mei no essent labores nominavi, at his tale deseruisse.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-6">
                <img src="assets/img/services/maintenance-service.svg" class="img-responsive center-block" style="width:90%">
            </div>
            <div class="col-sm-6">
                <h5 class="featurette-heading">The Service include:</h5>
                <p class="lead">
                    Lorem ipsum dolor sit amet, prompta reprimique in vis, in ius omittam appareat lucilius. Quem aliquam repudiandae in eos, mei in utinam euismod, sit elit intellegam ex. Vim veri illum quaeque ne, mazim feugiat at cum, no lucilius electram erroribus has. Oratio iudicabit id mei. Errem corrumpit molestiae vis eu. Vel apeirian consulatu ut. Laudem appareat erroribus ad mei, nec ex vero tritani disputando. Atomorum maiestatis has ea, quod populo oportere ex his. Vim id alterum similique.
                </p>
                <p class="lead">
                    Labore vivendo te vel. Viderer graecis petentium et eam, his ei audiam contentiones. An probatus delicata sea, nam an saepe molestiae, ius ex labores lucilius. Nec id simul graeco, vim rebum deleniti officiis ne. Sit omnes laoreet cu, et ius agam apeirian, pro in meis eirmod. Saperet patrioque forensibus eu usu. At case ubique cum, duo justo libris conclusionemque cu.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Packages & Pricing</strong></h3>
                <br>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-basic.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-bold text-center">Basic</h4>
                        <br>
                        <p class="lead" align="justify">
                            The bullet camera can be used both outdoor and indoor, depend on the type that will be used. But, the bullet camera use fixed camera, so it can capture footage only in specific corner.
                            <br>
                            <b>Type of Samsung CCTV for example: SNO-L6013R and QNO-6010R</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-standar.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-bold text-center">Standard</h4>
                        <br>
                        <p class="lead" align="justify">
                            The bullet camera can be used both outdoor and indoor, depend on the type that will be used. But, the bullet camera use fixed camera, so it can capture footage only in specific corner.
                            <br>
                            <b>Type of Samsung CCTV for example: SNO-L6013R and QNO-6010R</b>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-enterprise.svg">
                    </div>
                    <div class="box-chart-content">
                        <h4 class="text-bold text-center">Enterprise</h4>
                        <br>
                        <p class="lead" align="justify">
                            The bullet camera can be used both outdoor and indoor, depend on the type that will be used. But, the bullet camera use fixed camera, so it can capture footage only in specific corner.
                            <br>
                            <b>Type of Samsung CCTV for example: SNO-L6013R and QNO-6010R</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
