<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">MAINTENANCE SERVICE</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:3em;padding-bottom:3em;">
        <div class="container">
            <div class="col-sm-12 padding-bottom">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="solutions">Solution</a></li>
                    <li>Maintenance Service</li>
                </ul>
            </div>
            <div class="col-sm-12">
                <p class="lead">
                    Today, people tend to use website to know more information about your company quickly. But, it would impact your online pressence and credibility if your website's contents are outdated, broken, and vulnerable. 
                    It might be a little pain for you to update and publish your website's content, because you don't have the time or resources to take care of it. That's why, we provide website maintenance service to help you keep your website always up to date and secure.
                </p>
            </div>            
        </div>
    </div>
    <div class="row-stretch bg-default">
        <div class="container">
            <div class="col-sm-6 col-lg-4">
                <img src="assets/img/services/maintenance-service.svg" class="img-responsive center-block img-maintenance">
            </div>
            <div class="col-sm-6 col-lg-8">
                <h4 class="text-bold">Complete Service</h4>
                <p class="lead">
                    Our website maintenance service comes in 3 plans, which each plan is tailored for the size and the needs of your business. All our plans including content updates, layout updates, hosting management, SEO management, files and database backup, and technical support.
                </p>
                <h4 class="text-bold">No contracts</h4>
                <p class="lead">
                    We don't apply long term contracts, so you can upgrade or downgrade your plan to fit your needs at anytime. Our maintenance service plans are billed monthly.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline bg-default">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>How it work</strong></h3>
                <br>
            </div>
            <div class="col-sm-4">
                <ul class="steps">
                    <li>
                        <h3><strong>1.</strong></h3>
                    </li>
                    <li>
                        <h4>Login / register first</h4>
                        <h5 class="text-black" align="justify">Choose a plan that fits your needs. After choosing one, Login to our client area, or register first if you don't have an account in our client area. After registering your account, you will be redirected to our client area where you can submit service requests and manage your account.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="steps">
                    <li>
                        <h3><strong>2.</strong></h3>
                    </li>
                    <li>
                        <h4>Payment process</h4>
                        <h5 class="text-black" align="justify">The installation process starts from cable withdrawal, and then hardware installation and configuration. After the system is configured, we perform system test to check whether the system is running and functioning properly in accordance with the previously designed network topology.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="steps">
                    <li>
                        <h3><strong>3.</strong></h3>
                    </li>
                    <li>
                        <h4>Review the service</h4>
                        <h5 class="text-black" align="justify">The installation process starts from cable withdrawal, and then hardware installation and configuration. After the system is configured, we perform system test to check whether the system is running and functioning properly in accordance with the previously designed network topology.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline" style="background-color: #deecf7;">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>What's Included</strong></h3>
                <br>
            </div>
            <div class="col-sm-offset-1 col-sm-10">
                <p class="lead text-center">All plans we offer include services tailored to meet the individual needs of your business.</p>
                <div class="col-sm-4 maintain-service">
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-pencil-square-o"></i></span> Text
                        </h4>
                    <ul>
                        <li>Change, add, or delete any text in the website</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-picture-o" aria-hidden="true"></i></span>  Images
                        </h4>
                    <ul>
                        <li>Add, change, resize, or delete images on the website (images are provided by client)</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-film" aria-hidden="true"></i></span>  Videos
                        </h4>
                    <ul>
                        <li>Update, delete, or add video provided by the client</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-heart" aria-hidden="true"></i></span> Layouts
                        </h4>
                    <ul>
                        <li>Design recommendations</li>
                        <li>Modify existing layouts</li>
                        <li>Modify headers or footers</li>
                    </ul>
                </div>
                <div class="col-sm-4 maintain-service">                    
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-comments-o" aria-hidden="true"></i></span>  Social Media
                        </h4>
                    <ul>
                        <li>Posts management (create and reply posts)</li>
                        <li>Create new account of a social media, i.e facebook, twitter, instagram</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-file-text" aria-hidden="true"></i></span>  Pages
                        </h4>
                    <ul>
                        <li>Adding new pages on the website which content provide by client</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-bar-chart" aria-hidden="true"></i></span>  SEO
                        </h4>
                    <ul>
                        <li>SEO recommendations</li>
                        <li>Modifications to keywords, page titles and other meta data</li>
                        <li>Rename pages or files for optimzation</li>
                    </ul>
                </div>
                <div class="col-sm-4 maintain-service">                    
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-file-archive-o" aria-hidden="true"></i></span>  Files
                        </h4>
                    <ul>
                        <li>Add, update or delete files within the website (files provided by client)</li>
                        <li>Backup website's files occasionally</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-database" aria-hidden="true"></i></span>  Database
                        </h4>
                    <ul>
                        <li>Backup database of the website</li>
                    </ul>
                    <h4 class="text-bold">
                            <span class="maintenance-svc"><i class="fa fa-question-circle" aria-hidden="true"></i></span>  Technical Support
                        </h4>
                    <ul>
                        <li>Website errors</li>
                        <li>Database error (SQL server, mySQL, MariaDB, MongoDB)</li>
                        <li>Internal server error or web server error (Apache, Nginx, IIS)</li>
                        <li>SSL error</li>
                        <li>Hosting/server configuration</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Packages &amp; Pricing</strong></h3>
                <br>
            </div>
            <div class="col-md-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-basic.svg">
                    </div>
                    <div class="box-chart-content maintenance">
                        <h4 class="text-bold text-center">Basic</h4>
                        <br>
                        <div class="list-group list-cust basic" id="maintenance">
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item text-primary">Dapibus ac facilisis in</a>
                            <a class="list-group-item">Morbi leo risus</a>
                            <a class="list-group-item">Porta ac consectetur ac</a>
                            <a class="list-group-item">Vestibulum at eros</a>
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item">Rp 1.250.000</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-standar.svg">
                    </div>
                    <div class="box-chart-content maintenance">
                        <h4 class="text-bold text-center">Standard</h4>
                        <br>
                        <div class="list-group list-cust standard" id="maintenance">
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item text-primary">Dapibus ac facilisis in</a>
                            <a class="list-group-item">Morbi leo risus</a>
                            <a class="list-group-item">Porta ac consectetur ac</a>
                            <a class="list-group-item">Vestibulum at eros</a>
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item">Rp 2.000.000</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-chart">
                    <div class="box-chart-img">
                        <img src="assets/img/services/pck-enterprise.svg">
                    </div>
                    <div class="box-chart-content maintenance">
                        <h4 class="text-bold text-center">Enterprise</h4>
                        <br>
                        <div class="list-group list-cust enterprise" id="maintenance">
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item text-primary">Dapibus ac facilisis in</a>
                            <a class="list-group-item">Morbi leo risus</a>
                            <a class="list-group-item">Porta ac consectetur ac</a>
                            <a class="list-group-item">Vestibulum at eros</a>
                            <a class="list-group-item">Cras justo odio</a>
                            <a class="list-group-item">Rp 3.000.000</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-twitter" prevent-default>
                        share  <i class="fa fa-twitter fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-facebook" prevent-default>
                        share  <i class="fa fa-facebook fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-google" prevent-default>
                        share  <i class="fa fa-google fa-2x"></i> 
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="Maintenance Service by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, crm, software, customer, survey" socialshare-url="http://mss.co.id/#/maintenance-service" class="social-linkedin" prevent-default>
                        share  <i class="fa fa-linkedin fa-2x"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
