<div class="parallax section-header solutions" bg-parallax data-img="assets/img/bg/solutions.svg" style="background-image: url('assets/img/bg/solutions.svg');">
    <div class="page-title">
        <div class="row text-center">
            <h1>SOLUTIONS</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row padding-inline">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading text-black">solutions that enhance your business</h3>
            <p class="lead">Whether you seek rapid development of a single application or long-term maintenance of your entire suite of applications or corporate systems,
                <br>we will ensure your technology assets drive exceptional business results.</p>
        </div>
    </div>
    <div class="row" masonry>
        <!-- <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ng-click="goto('salesbook')" style="background-color: rgba(27, 161, 226, 0.49);">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-salesbook.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>MSS SALESBOOK<sup>&reg;</sup></strong></h4>
                    <br><br>
                    <p class="lead">
                        Salesbook Application will make your team have a better teamwork performance. It is cloud-based with realtime data processing, interactive dashboard and report, sales performance tracking, and any other useful resources.
                    </p>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ng-click="goto('medical')" style="background-color: rgba(240, 134, 123, 0.59);">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-medico.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>MSS MEDICAL<sup>&reg;</sup></strong></h4>
                    <br><br>
                    <p class="lead">
                        It's a one-stop medical record application system based on cloud, easy to use, handy reporting and sharing, will give you the best experience to manage medical record data anywhere and anytime. All in one hand.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="business-email">
                <div class="box-chart-img">
                    <img src="assets/img/retail/email-1.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>BUSINESS EMAIL</strong></h4>
                    <br>
                    <p class="lead">
                        Secure and reliable business-class email with a 50 GB mailbox capacity. Accomplish more with a rich, business-class email experience on phones, tablets, desktops, and the web.
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="acronis-backup">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-backup.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>ACRONIS BACKUP CLOUD</strong></h4>
                    <br>
                    <p class="lead">
                        Designed exclusively for service providers to meet their customer's needs, Acronis Backup Cloud is a proven, comprehensive, local, and cloud backup and recovery service.
                    </p>
                </div>
            </div>
        </div>-->
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="maintenance-service">
                <div class="box-chart-img">
                    <img src="assets/img/services/acro-app.svg">
                </div>
                <div class="box-chart-content">
                    <h4><strong>WEBSITE MAINTENANCE</strong></h4>
                    <br><br>
                    <p class="lead">
                        We provides fast, knowledgeable and friendly website maintenance services. In today’s marketplace, it is vital to keep your website up to date and looking as professional as you are. We’re here to help.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="email-migration">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-migrate.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>EMAIL MIGRATION</strong></h4>
                    <br><br>
                    <p class="lead">
                        We have the service of email migration from the local Exchange Server to the Cloud (Exchange Online). The service helps you use the new email with cloud technology and still can access data from your old email.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="live-ticker">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-ticker.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>LIVE TICKER</strong></h4>
                    <br><br>
                    <p class="lead">
                        Get real-time update of quote stocks and find last sale, net change and volume information in real-time.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="survey-tool">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-survey.png">
                </div>
                <div class="box-chart-content">
                    <h4><strong>CUSTOMER SURVEY TOOLS</strong></h4>
                    <br><br>
                    <p class="lead">
                        One of the part of Customer Relationship Management that makes you have a right decission because have a precission data about product, service and other. For this point you can increase income, expand market and many other.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax row-stretch bg-custom" style="background-image: url(assets/img/bg/bg-siluet-3.svg); height: 300px">
        <div class="section-overlay"></div>
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">Want to discuss about your company need?</h3>
                    <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>Click Here</strong></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="IT solutions PT Menara Sinar Semesta" socialshare-hashtags="ITsolution, solutions, software" socialshare-url="http://mss.co.id/#/solutions" class="social-twitter" prevent-default>
                        share <i class="fa fa-twitter fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="IT solutions PT Menara Sinar Semesta" socialshare-hashtags="ITsolution, solutions, software" socialshare-url="http://mss.co.id/#/solutions" class="social-facebook" prevent-default>
                        share <i class="fa fa-facebook fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="google" socialshare-text="IT solutions PT Menara Sinar Semesta" socialshare-hashtags="ITsolution, solutions, software" socialshare-url="http://mss.co.id/#/solutions" class="social-google" prevent-default>
                        share <i class="fa fa-google fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="linkedin" socialshare-text="IT solutions PT Menara Sinar Semesta" socialshare-hashtags="ITsolution, solutions, software" socialshare-url="http://mss.co.id/#/solutions" class="social-linkedin" prevent-default>
                        share <i class="fa fa-linkedin fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
