<div class="parallax section-header solutions" bg-parallax data-img="assets/img/bg/solutions.svg" style="background-image: url('assets/img/bg/solutions.svg');">
    <div class="page-title">
        <div class="row text-center">
            <h1>SOLUTIONS</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 5em;">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading">OUR SOLUTION</h3>
            <p class="lead">Whether you seek rapid development of a single application or long-term maintenance of your entire suite of applications or corporate systems, we will ensure your technology assets drive exceptional business results.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row" masonry>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ng-click="goto('salesbook')">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-salesbook.png">
                </div>
                <div class="box-chart-content">
                    <h4>SALESBOOK APPLICATION</h4>
                    <br>
                    <p class="lead">
                        With Salesbook Application makes your team have a better teamwork, give real data, interactive dashboard and report, track sales performance, easy to manage customer. And it’s all in the cloud.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ng-click="goto('medical')">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-medico.png">
                </div>
                <div class="box-chart-content">
                    <h4>MEDICAL RECORD</h4>
                    <br>
                    <p class="lead">
                        MSS Medical, medical record application system based on cloud, giving you the best experience to manage medical record data by ONLINE and REALTIME and also easy to use. All in one hand.
                    </p>
                </div>
            </div>
        </div>        
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="survey-tool">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-survey.png">
                </div>
                <div class="box-chart-content">
                    <h4>CUSTOMER SURVEY TOOLS</h4>
                    <br>
                    <p class="lead">
                    One of the part of Customer Relationship Management that makes you have a right decission because have a precission data about product, service and other. For this point you can increase income, expand market and many other.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="acronis-backup">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-backup.png">
                </div>
                <div class="box-chart-content">
                    <h4>ACRONIS BACKUP CLOUD</h4>
                    <br>
                    <p class="lead">
                        Designed exclusively for service providers to meet their customer's needs, Acronis Backup Cloud is a proven, comprehensive, local, and cloud backup and recovery service.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="email-migration">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-migrate.png">
                </div>
                <div class="box-chart-content">
                    <h4>EMAIL MIGRATION</h4>
                    <br>
                    <p class="lead">
                        We have the service of email migration from the local Exchange Server to the Cloud (Exchange Online). The service helps you use the new email with cloud technology and still can access data from your old email. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center mix">
            <div class="box-chart hover" ui-sref="live-ticker">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-ticker.png">
                </div>
                <div class="box-chart-content">
                    <h4>LIVE TICKER</h4>
                    <br>
                    <p class="lead">
                        Get real-time update of quote stocks and find last sale, net change and volume information in real-time.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax row-stretch" style="background-image: url(assets/img/bg/bg-siluet-3.svg); height: 300px">
        <div class="section-overlay"></div>
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">Want to discuss about your company need with us?</h3>
                    <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>Click Here</strong></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">        
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self"
            socialshare socialshare-provider="twitter" 
            socialshare-text="IT solutions PT Menara Sinar Semesta" 
            socialshare-hashtags="ITsolution, solutions, software" 
            socialshare-url="http://mss.co.id/#/solutions"
            class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self"
            socialshare socialshare-provider="facebook" 
            socialshare-text="IT solutions PT Menara Sinar Semesta" 
            socialshare-hashtags="ITsolution, solutions, software" 
            socialshare-url="http://mss.co.id/#/solutions"
            class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
