<div class="parallax section-header solutions" bg-parallax data-img="assets/img/bg/solutions.svg" style="background-image: url('assets/img/bg/solutions.svg');">
    <div class="page-title">
        <div class="row text-center">
            <h1>SOLUTION</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="margin-top: 5em;">
        <div class="col-lg-12 text-center">
            <h3 class="featurette-heading">OUR SOLUTION</h3>
            <p class="lead">Whether you seek rapid development of a single application or long-term maintenance of your entire suite of applications or corporate systems, we will ensure your technology assets drive exceptional business results.</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row" masonry>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-medico.png">
                </div>
                <div class="box-chart-content">
                    <h4>MEDICAL RECORD</h4>
                    <br>
                    <p class="lead">
                        MSS Medical, medical record application system based on cloud, giving you the best experience to manage medical record data by ONLINE and REALTIME and also easy to use. All in one hand.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-salesbook.png">
                </div>
                <div class="box-chart-content">
                    <h4>SALESBOOK APPLICATION</h4>
                    <br>
                    <p class="lead">
                        With Salesbook Application makes your team have a better teamwork, give real data, interactive dashboard and report, track sales performance, easy to manage customer. And it’s all in the cloud.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-olshop.png">
                </div>
                <div class="box-chart-content">
                    <h4>E-COMMERCE APPLICATION</h4>
                    <br>
                    <p class="lead">
                        Offer's E-Commerce solution for your commerce business. Bring labeling feature e.g. new product, sale, easy to managing product, SEO & Online Marketing makes your business growing up.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-ticket.png">
                </div>
                <div class="box-chart-content">
                    <h4>E-TICKET APPLICATION</h4>
                    <br>
                    <p class="lead">
                        Ticketing Application are usefull to eficiency your time so you will no worries about queue when reservation. Available for train reservation, plane ticket, busway ticket, ship ticket, and tourist attraction.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-reservation.png">
                </div>
                <div class="box-chart-content">
                    <h4>ONLINE RESERVATION</h4>
                    <br>
                    <p class="lead">
                        With responsive booking engine makes your process booking is so easy, and the other feature is easy to use, online payment gateway support, discount and last minutes booking.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 text-center">
            <div class="box-chart hover">
                <div class="box-chart-img">
                    <img src="assets/img/services/img-cms.png">
                </div>
                <div class="box-chart-content">
                    <h4>EVENT REGISTRATION</h4>
                    <br>
                    <p class="lead">
                        Bring you several feature like schedule, general information, sponsorship, team involved, registration fee, online registration, online payment makes your event efficient and efective.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="parallax row-stretch" style="background-image: url(assets/img/bg/bg-siluet-3.svg); height: 300px">
        <div class="section-overlay"></div>
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">Want to discuss about your company need with us?</h3>
                    <button class="btn btn-lg btn-success btn-custom" ui-sref="contact"><strong>Click Here</strong></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">        
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self"
            socialshare socialshare-provider="twitter" 
            socialshare-text="IT solutions PT Menara Sinar Semesta" 
            socialshare-hashtags="ITsolution, solutions, software" 
            socialshare-url="http://mss.co.id/#/solutions"
            class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self"
            socialshare socialshare-provider="facebook" 
            socialshare-text="IT solutions PT Menara Sinar Semesta" 
            socialshare-hashtags="ITsolution, solutions, software" 
            socialshare-url="http://mss.co.id/#/solutions"
            class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
