<div class="container">
    <div class="page-title">
        <div class="row text-center">
            <h1 style="color: #1c4488;">CUSTOMER SURVEY TOOL</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:3em;padding-bottom:3em;">
        <div class="container padding-inline">
            <div class="middle">
                <div class="col-md-8">
                    <h3 style="color: #1c4488;">Work smarter to win faster</h3><br/>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        One of the part of Customer Relationship Management System that makes you have a right decission because you have a data precission about product, service, market survey and other that you want to have. Some of the benefit is 
                        <ol class="lead text-default" style="color: #2e2e2e!important" align="justify">
                            <li>&#x2611; Increase sales productivity and service quality</li>
                            <li>&#x2611; Win new and repeat sales using a personalized sales process</li>
                            <li>&#x2611; Identify prospects and customers who have the most potential</li>
                            <li>&#x2611; Maximize your sales team</li>
                            <li>&#x2611; Grow your business profitably.</li>
                        </ol>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/services/img-survey.png" width="270">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container padding-inline">
            <div class="col-md-12 text-center padding-bottom">
            	<h3 class="featurette-heading"><strong>Step to be a lead</strong></h3>

            	<br>
            	<br>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step1.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4><strong>1.</strong></h4>
                    </li>
                    <li>
                        <h4 class="text-black">Market Survey</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                            Tailor your requirement to grab some information about your business. (it can be product or service)
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step2.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4><strong>2.</strong></h4>
                    </li>                
                    <li>
                        <h4 class="text-black">Get the result</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                            Get each result of your market survey 
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step3.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4><strong>3.</strong></h4>
                    </li>
                    <li>
                        <h4 class="text-black">Convert to</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">Separate each result to opportunity or cases</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step4.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4><strong>4.</strong></h4>
                    </li>
                    <li>
                        <h4 class="text-black">Be a lead</h4>                        
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">Handle each result to the right decission to win your market area</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container padding-inline">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Feel the experience</strong></h3>

                <br>
                <br>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step1.svg" class="img-responsive">
                <ul class="steps">
                    <li>
                        <h4 class="text-black">Reliable System</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        Over 2,000,000 users in more than 80 countries & 40 Languange use this system, over 30,000 customer from small to enterprise
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step2.svg" class="img-responsive">
                <ul class="steps">           
                    <li>
                        <h4 class="text-black">No Downtime</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                            With High availability hosted architecture, bring you SLA 99,9%. So you have no worries about your system
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step3.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4 class="text-black">Work anywhere, anytime, on any device</h4>
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">You can get access from anywhere, anytime, from PC, or any device. Get Microsoft Dynamics 365 in playstore or appstore</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step4.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h4 class="text-black">Outlook integrated</h4>                        
                        <p class="lead text-default" style="color: #2e2e2e!important" align="justify">Integration with outlook makes your work easier than before. You can optimized every opportunity from outlook, create contact or account, lookup related record based on your customer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/microsoft-dynamics-crm.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/dynamic365.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/html5.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/css3-med.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/javascript_logo.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/xml.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/ajax.png" style="max-height: 10em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                     <img class="tech-logo img-responsive" src="assets/img/customer-survey-tools/visualstudio.png" style="max-height: 10em;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Software Development Services by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, website, software, mobile-app" socialshare-url="http://mss.co.id/#/software-development" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Software Development Services by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, website, software, application, mobile-app" socialshare-url="http://mss.co.id/#/software-development" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
