<div class="container">
    <div class="page-title">
        <div class="row text-center">
            <h1 style="color: #1c4488;">CUSTOMER SURVEY TOOL</h1>
        </div>
    </div>
    <div class="row-stretch bg-default" style="padding-top:3em;padding-bottom:3em;">
        <div class="container padding-inline">
            <div class="middle">
                <div class="col-md-8">
                    <p class="lead text-default" style="color: #2e2e2e!important">
                        Lorem ipsum dolor sit amet, ex dicat dolorem vix. Civibus assentior ea his. Erant democritum sit eu. Maluisset urbanitas suscipiantur no pro, quidam persius molestie ex qui. Vel legere tacimates ei. Usu facer homero virtute ea, vis at omnis eirmod mandamus. Amet epicurei instructior has ei. Noster democritum ad qui, nec consul facilisi evertitur eu, nulla vocibus noluisse cu usu. Sit everti equidem accumsan no. Ea vix case legere eruditi, ut pro vide constituam vituperatoribus. Unum consequat definiebas at pri, te malis comprehensam eum. Mea habeo essent dissentiunt ex, in nec.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="/assets/img/services/img-survey.png" width="270">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container padding-inline">
            <div class="col-md-12 text-center padding-bottom">
            	<h3 class="featurette-heading"><strong>What make me good</strong></h3>
            	<br>
            	<br>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step1.svg" class="img-responsive">
                <ul class="steps">                    
                    <li>
                        <h5 class="text-black">Sign up and securely share your project details.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step2.svg" class="img-responsive">
                <ul class="steps">
                    <li>
                        <h5 class="text-black">We assign a project manager and the most relevant front-end and back-end developers.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step3.svg" class="img-responsive">
                <ul class="steps">
                    <li>
                        <h5 class="text-black">Start the project and receive daily automated updates from developers.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img src="assets/img/steps/softdev-step4.svg" class="img-responsive">
                <ul class="steps">
                    <li>
                        <h5 class="text-black">Oversee your app progress and easily scale your dev team if needed.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row row-stretch padding-inline">
        <div class="container">
            <div class="col-md-12 text-center center-block">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-angular.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-node.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-phonegap.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-mongo.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-mysql.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-android.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-apple.svg" style="max-height: 5em;">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 vcenter">
                    <img class="tech-logo img-responsive" src="assets/img/tech/logo-php.svg" style="max-height: 5em;">
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Software Development Services by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, website, software, mobile-app" socialshare-url="http://mss.co.id/#/software-development" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="facebook" socialshare-text="Software Development Services by PT Menara Sinar Semesta" socialshare-hashtags="softwaredevelopment, website, software, application, mobile-app" socialshare-url="http://mss.co.id/#/software-development" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
