<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">E-COMMERCE APP</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 padding-bottom" style="z-index: 100000000;">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="software-development">Software Development</a></li>
                        <li>E-commerce App</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3 style="color: #1c4488;">Sell your products, grab your customers</h3>
                    <br/>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        e-Commerce apps provides the most effective way of promoting your business online. You can reach your customers worldwide and offer them your services and products directly through web. Beside, your shop can provide 24x7 supports to your customers. That’s why the e-commerce or online shopping is gaining popularity all across the world.
                    </p>
                    <p>
                        <strong>Why choose e-commerce is better decision?</strong>
                        <br>
                        <ul class="lead" style="padding-left: 1.5em;">
                            <li style="text-indent: -1.2em">&#x2611; It's cost-efficient. E-commerce will handle the products, inventory, payment, and other processes. It will reduce the number of employees you hire.</li>
                            <li style="text-indent: -1.2em">&#x2611; Productive. With e-commerce, your business almost never close. Sales can be made every day, round the clock, while reducing employees and extra costs.</li>
                            <li style="text-indent: -1.2em">&#x2611; Effective. All sales, inventory, and customers information are stored in one place. You can view reports from your store anytime you want.</li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="/assets/img/services/ecomm-system.svg" width="420">
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Why you should choose our e-commerce</strong></h3>
                <br>
            </div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <img src="assets/img/services/ecomm-cart.svg" class="img-responsive center-block" width="180">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Smart &amp; Easy Cart</h5>
                        <h5 class="text-center" style="color: #2e2e2e!important" align="justify">
                            We build e-commerce with interesting and user-friendly UI/UX to offer your customers an ultimate shopping experience and ensure a boost in your customer base and sales.
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <img src="assets/img/services/ecomm-payment.svg" class="img-responsive center-block" width="180">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Secure Payment</h5>
                        <h5 class="text-center" style="color: #2e2e2e!important" align="justify">We use major third party payment gateways to make secure the system. Also, we encrypt credit card and order data to ensure customer safety.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <img src="assets/img/services/ecomm-secure.svg" class="img-responsive center-block" width="180">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold text-center">Reliable System</h5>
                        <h5 class="text-center" style="color: #2e2e2e!important" align="justify">
                            With High availability hosted architecture, we bring you SLA 99,9%. You don't have to worry about your system.
                        </h5>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
    <div class="clearfix"></div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Ecommerce Application by PT Menara Sinar Semesta" socialshare-hashtags="ecommerce, onlineshop, ecommerce-app, application, software" socialshare-url="http://mss.co.id/#/e-commerce" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Ecommerce Application by PT Menara Sinar Semesta" socialshare-hashtags="ecommerce, onlineshop, ecommerce-app, application, software" socialshare-url="http://mss.co.id/#/e-commerce" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
