<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">MOBILE APPS</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12">
                <p class="lead text-center">
                    Lorem ipsum dolor sit amet, ut sea virtute erroribus, legere omittantur id vim, sed ex stet audiam officiis. Qui mundi pertinax ad, ad sit dicit habemus. No fabulas. Ut sea mazim dolorum denique, natum nulla iuvaret pri in. Qui mundi pertinax ad, ad sit dicit. No cum alii fabulas.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3 class="featurette-heading text-black"><strong>What we crafted</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-sm-4 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/steps/softdev-step2.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Tailor your requirement to grab some information about your business.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/steps/softdev-step4.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Separate each result to opportunity or cases.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/steps/softdev-step3.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Handle each result to the right decission to win your market area.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Mobile Apps Development Service by PT Menara Sinar Semesta" socialshare-hashtags="mobileapp, application, startup" socialshare-url="http://mss.co.id/#/mobile-app" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Mobile Apps Development Service by PT Menara Sinar Semesta" socialshare-hashtags="mobileapp, application, startup" socialshare-url="http://mss.co.id/#/mobile-app class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
