<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">MOBILE APPS</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-sm-12 padding-bottom">
                <ul class="breadcrumb">
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="software-development">Software Development</a></li>
                    <li>Mobile App</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <p class="lead"><br>
                    Nowadays, devices and mobile technologies are more and more being used every day. Mobile apps can help increase engagement and foster customer loyalty and brand recognition. Mobile technologies can help increase customer engagement and brand recognition.
                </p>
                <p class="lead">
                    To meet your individual demands or your business needs, we provice end-to-end custom mobile app development service, from ideas to ready-to-use application. We develop and deliver mobile apps across platforms, including iOS (iPhone &amp; iPad), Android, and Windows Mobile. With advanced tools and technology our mobile apps developers are able to create highly customized mobile applications for consumer needs and enterprises.
                </p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive center-block" src="/assets/img/services/mobile-app-dev.svg" width="420">
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-4" align="justify">
                <img src="/assets/img/services/mobile-shop.svg" class="img-responsive center-block" width="180">
                <p class="lead">
                    <h4 class="featurette-heading text-center">M-Commerce Application</h4>
                    We develop a readymade platform to render the smartphone user base a hassle free connectivity to online eCommerce marketplaces and stores. To enhance the shopping experience we had incorporated smart options like real-time chat, voice search, deep linking, product sharing in social networks, and so on.
                </p>
            </div>
            <div class="col-sm-4" align="justify">
                <img src="/assets/img/services/mobile-administration.svg" class="img-responsive center-block" width="180">
                <p class="lead">
                    <h4 class="featurette-heading text-center">Administration System</h4>
                    Manage your office administration data from mobile devices. We develop a smart and user-friendly Administration System app to help you work in ease.
                </p>
            </div>            
            <div class="col-sm-4" align="justify">
                <img src="/assets/img/services/mobile-reserv.svg" class="img-responsive center-block" width="180">
                <p class="lead">
                    <h4 class="featurette-heading text-center">Ticketing &amp; Reservation</h4>
                    We understand that a million people major use smartphone to easier their way. So you no need to worry about flexibility of your system because we bring you mobile apps for ticketing & reservation. With attractive user interface and user experience, your customer will be happy to use your mobile apps.
                </p>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center">
                <h3 class="featurette-heading text-black"><strong>Our Development Journey</strong></h3>
                <br>
                <br>
            </div>
            <div class="col-sm-3 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/services/mobile-step1.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2 style="color: #61B4E2;"><strong>1.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Share your ideas &amp; concepts, we will analyze and make strategies to get them be something ready to use</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/services/mobile-step2.svg" class="img-responsive center-block" >
                <ul class="steps">
                    <li>
                        <h2 style="color: #61B4E2;"><strong>2.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">We design and make wireframe of the app. Wireframe is important to define the full scope of the project, while design of UI/UX make the app stands out.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/services/mobile-step3.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2 style="color: #61B4E2;"><strong>3.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Start the actual app development. We build app, give features and functionalities to our design before. We test the polished app to make sure no bugs inside.</h5>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 text-center" style="margin-bottom: 30px;">
                <img src="assets/img/services/mobile-step4.svg" class="img-responsive center-block">
                <ul class="steps">
                    <li>
                        <h2 style="color: #61B4E2;"><strong>4.</strong></h2>
                    </li>
                    <li>
                        <h5 class="text-black">Once we kicked out all bugs, we deliver the ready-to-use mobile app to you.</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Mobile Apps Development Service by PT Menara Sinar Semesta" socialshare-hashtags="mobileapp, application, startup" socialshare-url="http://mss.co.id/#/mobile-app" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Mobile Apps Development Service by PT Menara Sinar Semesta" socialshare-hashtags="mobileapp, application, startup" socialshare-url="http://mss.co.id/#/mobile-app class=" social-facebook " prevent-default>
                <i class="fa fa-facebook fa-2x "></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal " id="**cbc** ">
    <div class="cd-modal-content ">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css ">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript ">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
