<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">WEB APPLICATION</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-responsive center-block" style="margin-bottom: 25px;" src="/assets/img/services/webapp-coding.svg" width="360">
                </div>
                <div class="col-md-6">
                    <h3 style="color: #1c4488;">Lorem ipsum dolor sit amet</h3>
                    <br/>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        Lorem ipsum dolor sit amet, ut sea virtute erroribus, legere omittantur id vim, sed ex stet audiam officiis. Qui mundi pertinax ad, ad sit dicit habemus. No cum alii fabulas. Ut sea mazim dolorum denique, natum nulla iuvaret pri in. Cum aperiam maiorum eloquentiam cu. Erant vivendo urbanitas et vis, paulo tritani adolescens vim id, eam quis dico nulla te.
                    </p>
                    <p class="lead">Ea vel dolor iriure definitiones, nam tation persecuti ex. Tation nusquam oporteat nam ex, id probatus voluptatibus vel. Mea affert scripta ei. Vix ex vero elitr fabulas, labore iuvaret dolores ea sea. Bonorum concludaturque vix ne, vix id primis consequuntur, qui porro persius an.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">                
                <div class="col-md-6">
                    <h3 style="color: #1c4488;">Ea vel dolor iriure definitiones</h3>
                    <br/>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        Lorem ipsum dolor sit amet, ut sea virtute erroribus, legere omittantur id vim, sed ex stet audiam officiis. Qui mundi pertinax ad, ad sit dicit habemus. No cum alii fabulas. Ut sea mazim dolorum denique, natum nulla iuvaret pri in. Cum aperiam maiorum eloquentiam cu. Erant vivendo urbanitas et vis, paulo tritani adolescens vim id, eam quis dico nulla te.
                    </p>
                    <p class="lead">Ea vel dolor iriure definitiones, nam tation persecuti ex. Tation nusquam oporteat nam ex, id probatus voluptatibus vel. Mea affert scripta ei. Vix ex vero elitr fabulas, labore iuvaret dolores ea sea. Bonorum concludaturque vix ne, vix id primis consequuntur, qui porro persius an.</p>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" src="/assets/img/services/webapp-design.svg" width="360">
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-12 text-center padding-bottom">
                <h3 class="featurette-heading"><strong>Feel the experience</strong></h3>
                <br>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="assets/img/services/suv-reliable.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold">Latest Technology</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            We bring the latest technology to serve you and give the best experience
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="assets/img/services/suv-sla.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold">Cloud Service</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">
                            For several service we are use cloud service, more efficient, more securely
                        </h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="assets/img/services/suv-resp.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold">Work anywhere, anytime, on any device</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">You can get access from anywhere, anytime, from PC, or any device. Get Microsoft Dynamics 365 in playstore or appstore</h5>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <img src="assets/img/services/suv-outlook.svg" class="img-responsive center-block" width="100">
                <br>
                <ul class="steps">
                    <li>
                        <h5 class="text-bold">Outlook integrated</h5>
                        <h5 class="" style="color: #2e2e2e!important" align="justify">Integration with outlook makes your work easier than before. You can optimized every opportunity from outlook, create contact or account, lookup related record based on your customer</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="social-share">
            <p>Share on:</p>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Website and Web Application by PT Menara Sinar Semesta" socialshare-hashtags="websitedevelopment, website, webapp" socialshare-url="http://mss.co.id/#/webapp" class="social-twitter" prevent-default>
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Website and Web Application by PT Menara Sinar Semesta" socialshare-hashtags="websitedevelopment, website, webapp" socialshare-url="http://mss.co.id/#/webapp" class="social-facebook" prevent-default>
                <i class="fa fa-facebook fa-2x"></i>
            </a>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
