<div class="container">
    <div class="page-title-2">
        <div class="row text-center">
            <h1 style="color: #1c4488;">WEB APPLICATION</h1>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 padding-bottom" style="z-index: 100000000;">
                    <ul class="breadcrumb">
                        <li><a ui-sref="home">Home</a></li>
                        <li><a ui-sref="software-development">Software Development</a></li>
                        <li>Web App</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive center-block" style="margin-bottom: 25px;" src="/assets/img/services/webapp-coding.svg" width="320">
                </div>
                <div class="col-md-6">
                    <h3 style="color: #1c4488;">Make something powerful</h3>
                    <br/>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                        A web app is a business system or application delivered over the Web. We offer a complete service of web app development which includes project scoping, wireframing, design, development, testing, support and hosting. The benefit of custom web application is that it is tailored to the way your business works.
                    </p>
                    <p class="lead text-default" style="color: #2e2e2e!important" align="justify">Our professional developer teams work with businesses to define and build user-centered website features and functions that make your business accessible and engaging. We build them to using array of development framework technologies and test everything extensively, ensuring a usable, robust and secure ready-to-use product.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <h3 class="featurette-heading">Company Profile</h3>
            </div>
            <div class="col-md-6">
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    Interesting company profile website is absolutely integral to the legitimacy and effectiveness of your online presence. Our professional approach will ensure that your online presence stands out from the crowd. Using your business objectives along with our development and programming expertise, we can bring a whole new dimension to your business.
                </p>
                <p class="lead" align="justify">We also use update technology such as cloud technology to be a part of success of our service. With cloud service makes our customer feel secure and comfort.
                    <br>
                    <strong><i>Interest to know more? click <a ui-sref="software-development-order">here</a></i></strong></p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive center-block" src="/assets/img/services/webapp-design.svg" width="300">
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-6">
                <img class="img-responsive center-block" src="/assets/img/services/webapp-erp.svg" width="300">
            </div>
            <div class="col-md-6">
                <h3 class="featurette-heading">ERP &amp; CRM</h3>
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    Looking for Internal and External Tools management? Yes it's Enterprise Resource Planning and Customer Relationship Management. Two effective tools that makes your work so easy. With this tools you can colaborate between internal and external jobs.
                </p>
                <p class="lead" align="justify">Some solution that makes easy your work is Billing Management, Human Resources, Production Management, General Ledger, Inventory Management, Procurement and Sourcing, Administration Module, Maintenance Management, Sales Management, Marketing Management, Cases Management, and many more.
                    <br>
                    <strong><i>Let's <a ui-sref="software-development-order">discuss </a>about your need!</i></strong></p>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <h3 class="featurette-heading">Administration System</h3>
            </div>
            <div class="col-md-6">
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    Administration system is talking about all of application related with Information System for internal requirement such as Education, Human Resource, Reporting, and all of your needs. For the technology we bring realtime engine and cloud based technology because we are know your time is valuable.
                </p>
                <p class="lead">
                    You can order to us by request and we will be tailor for your special requirement. With clearly business process we can give you blueprint design and start with your project
                    <br>
                    <strong><i>Talk to us <a ui-sref="software-development-order">now! </a></i></strong></p>
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive center-block" src="/assets/img/services/webapp-administration.svg" width="300">
            </div>
        </div>
    </div>
    <div class="row-stretch bg-default padding-inline">
        <div class="container">
            <div class="col-md-6">
                <img class="img-responsive center-block" src="/assets/img/services/webapp-ticket.svg" width="300">
            </div>
            <div class="col-md-6">
                <h3 class="featurette-heading">Ticketing &amp; Reservation</h3>
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    Ticketing and Reservation convenient increasingly required in emerging technology. For this reason we create tools that makes your business growing up focused on hotel provider, tourist attraction, or something like it.
                </p>
                <p class="lead">With this tools your customer more easily to reserve and order ticket to you certainly we are not push a side securely factor because we are use payment integration such as Paypal, Credit Card, ATM Transfer, E-Wallet, Store Point.
                    <br>
                    <strong><i><a ui-sref="software-development-order">Discover</a> with us!</i></strong></p>
            </div>
        </div>
    </div>
    <div class="row-stretch padding-inline">
        <div class="container">
            <div class="col-sm-12">
                <h3 class="featurette-heading">E-Commerce</h3>
            </div>
            <div class="col-md-6">
                <p class="lead text-default" style="color: #2e2e2e!important" align="justify">
                    e-Commerce apps provides the most effective way of promoting your business online. You can reach your customers worldwide and offer them your services and products directly through web. Beside, your shop can provide 24x7 supports to your customers. That’s why the e-commerce or online shopping is gaining popularity all across the world.
                </p>
                <p class="lead">Why using e-commerce is better choice?
                    <br>
                    <ul class="lead" style="padding-left: 1.5em;">
                        <li style="text-indent: -1.2em">&#x2611; It's cost-efficient. E-commerce will handle the products, inventory, payment, and other processes. It will reduce the number of employees you hire.</li>
                        <li style="text-indent: -1.2em">&#x2611; Productive. With e-commerce, your business almost never close. Sales can be made every day, round the clock, while reducing employees and extra costs.</li>
                        <li style="text-indent: -1.2em">&#x2611; Effective. All sales, inventory, and customers information are stored in one place. You can view reports from your store anytime you want.</li>
                    </ul>
                </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive center-block" src="/assets/img/services/e-comm.svg" width="300">
            </div>
        </div>
    </div>
    <div class="parallax row-stretch" style="background-image: url(assets/img/bg/bg-siluet-4.svg); height: 300px">
        <div class="section-overlay"></div>
        <div class="outer">
            <div class="middle">
                <div class="col-lg-12 text-center">
                    <h3 class="featurette-heading text-default">Ready to share your idea?</h3>
                    <p class="lead text-default">Start achieving your goal today by working with our top dev teams,
                        <br/>experienced in your market and tech stack.</p>
                    <br/>
                    <a href="" class="btn btn-lg btn-default btn-custom text-default btn-quotation" ui-sref="software-development-order"><strong>Let's discuss about it</strong></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Social share -->
    <div class="row-stretch">
        <div class="sticky-container">
            <ul class="sticky">
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Website and Web Application by PT Menara Sinar Semesta" socialshare-hashtags="websitedevelopment, website, webapp" socialshare-url="http://mss.co.id/#/webapp" class="social-twitter" prevent-default>
                        <i class="fa fa-twitter fa-2x"></i>  share
                    </a>
                </li>
                <li>
                    <a href="#" target="_self" socialshare socialshare-provider="twitter" socialshare-text="Website and Web Application by PT Menara Sinar Semesta" socialshare-hashtags="websitedevelopment, website, webapp" socialshare-url="http://mss.co.id/#/webapp" class="social-facebook" prevent-default>
                        <i class="fa fa-facebook fa-2x"></i>  share
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cd-modal" id="**cbc**">
    <div class="cd-modal-content">
        <!-- your modal content -->
    </div>
</div>
<style type="text/css">
.software-lead {
    font-size: 1.5em;
    line-height: 1.2em;
}
</style>
<script type="text/javascript">
var $grid = $('.product-gallery').masonry({
    // options
    itemSelector: '.mix',
});
// layout Masonry after each image loads
$grid.imagesLoaded().progress(function() {
    $grid.masonry('layout');
});
</script>
